Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

fix script to fetch contracts in sync script
  services/database/scripts.mjs
Due: none

Set up database tests (support for local, debugger and CI) and minor improvements (#1257)
  .circleci/continue_config.yml
  .circleci/new_branch.yml
  .vscode/launch.json
  .vscode/tasks.json
  package-lock.json
  services/database/database.json
  services/server/package.json
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/test/StorageService.test.js
  services/server/test/docker-compose.yml
  services/server/test/server.js
  services/server/test/testcontracts/Database/CheckedContract.json
  services/server/test/testcontracts/Database/Match.json
Due: run-build-server

use chain.request instead of agent in "should fetch missing sources" test
  services/server/test/server.js
Due: run-build-server

Sourcify database (#1222)
  package-lock.json
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/types.ts
  services/database/.env.template
  services/database/README.md
  services/database/database.json
  services/database/docker-compose.yml
  services/database/migrations/20231109160022-create-schema.js
  services/database/package.json
  services/database/scripts.mjs
  services/server/README.md
  services/server/src/config/default.js
  services/server/src/config/master.js
  services/server/src/config/staging.js
  services/server/src/server/controllers/repository/repository.handlers.ts
  services/server/src/server/controllers/repository/repository.routes.ts
  services/server/src/server/controllers/verification/verification.common.ts
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
  services/server/src/server/server.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/services.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/AllianceDatabaseService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/alliance-database-util.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/services/utils/repository-util.ts
  services/server/src/server/types.ts
  services/server/test/StorageService.test.js
  services/server/test/helpers/assertions.js
  services/server/test/server.js
Due: run-build-server, run-build-packages

Fix typos (#1251)
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/ChainAddressForm/Message.tsx
  ui/src/pages/Verifier/FileUpload.tsx
  ui/src/pages/Verifier/index.tsx
Due: run-build-ui

check if chainId is a number while importing
  services/database/scripts.mjs
Due: none

Add Conflux eSpace Mainnet (#1263)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

API docs: Move non-session above, add description, remove Bearer Key
  services/server/src/openapi.yaml
Due: run-build-server

allow sourcify matches without creatorTx hash
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
Due: run-build-server

check existing contract by chain_id and address
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

is sync: wait until all contracts in the queue are processed
  services/database/scripts.mjs
Due: none

generateCborAuxdataPositions now works even without creationBytecode
  packages/lib-sourcify/src/lib/CheckedContract.ts
Due: run-build-packages

Turn off failing Gather Testnet (356256156)
  services/server/src/sourcify-chains-default.json
Due: run-build-server

cat in test_new_chain'
  .circleci/new_branch.yml
Due: none

fix local etherscan.js tests
  services/server/test/etherscan.js
Due: run-build-server

Add Chain: Chain_id: 7000 ZetaChain Mainnet (#1252)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

exit only from sync when all the queue is empty
  services/database/scripts.mjs
Due: none

fix "should fetch missing sources" test
  services/server/test/server.js
Due: run-build-server

Throw etherscan on non 200 code
  services/server/src/server/controllers/verification/etherscan/etherscan.common.ts
Due: run-build-server

update server chains.json
  services/server/src/chains.json
Due: run-build-server

update alliance database schema
  services/database/migrations/20231109160022-create-schema.js
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

Add Lightlink Pegasus Testnet and Lightlink Phoenix Mainnet (#1266)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

Revert "update -lock"
  package-lock.json
Due: none

rename test contract's path for chain 57 to fix #1258
  services/server/test/chains/chain-tests.js
  services/server/test/chains/sources/57/sources/project/contracts/Token.sol
Due: run-build-server

add lyra chain (#1250)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

Update chains.json
  services/server/src/chains.json
Due: run-build-server

reduce waiting time to fill the pool
  services/database/scripts.mjs
Due: none

schema compatibility fix for the alliance database
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/verification.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/AllianceDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server, run-build-packages

Add Scroll Sepolia Testnet and Scroll Mainnet (#1259)
  services/server/.env.dev
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

start writing on the `test-verifier-alliance` database
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/services.ts
  services/server/src/server/services/storageServices/AllianceDatabaseService.ts
Due: run-build-server

fix storage services promises asynchronicity by using Promise.all in storeMatch
  services/server/src/server/services/StorageService.ts
Due: run-build-server

Add Kroma Sepolia Testnet and Kroma Mainnet (#1261)
  services/server/.env.dev
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

Disable repositoryV2 by default for now, we will enable it once we start the synchronization script
  services/server/src/config/default.js
Due: run-build-server

fix database storeMatch test
  services/server/test/chains/chain-tests.js
  services/server/test/etherscan.js
  services/server/test/server.js
Due: run-build-server

Enhanced error handling for non-JSON responses including response fro… (#1273)
  ui/src/pages/Verifier/index.tsx
Due: run-build-ui

Change repo path description in Dockerfile.debug
  services/server/Dockerfile.debug
Due: run-build-server

mock ipfs in tests with nock
  services/server/test/helpers/helpers.js
  services/server/test/mocks/ipfs/QmaFRC9ZtT7y3t9XNWCbDuMTEwKkyaQJzYFzw3NbeohSn5
  services/server/test/server.js
Due: run-build-server

fixed Chromium Browsers Display Unwanted Whitespace on toast (#1275)
  ui/src/components/Toast/index.tsx
Due: run-build-ui

chore(release): publish
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/contract-call-decoder/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*
