Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*

Store metadata in database
  services/server/src/server/services/utils/database-util.ts
  services/server/test/helpers/assertions.ts
Due: run-build-server

fix prettier
  services/server/src/server/services/utils/database-util.ts
  services/server/test/helpers/assertions.ts
Due: run-build-server

removed unused import
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

ensure full_total and partial_total are returned as integers in SQL query
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

remove unused `updateVerifiedContract` function
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

remove contract-call-decoder
  .circleci/scripts/publish_to_npm.sh
  .github/PULL_REQUEST_TEMPLATE/release.md
  .vscode/launch.json
  README.md
  package-lock.json
  package.json
  packages/contract-call-decoder/.gitignore
  packages/contract-call-decoder/CHANGELOG.md
  packages/contract-call-decoder/LICENSE
  packages/contract-call-decoder/README.md
  packages/contract-call-decoder/package.json
  packages/contract-call-decoder/src/index.ts
  packages/contract-call-decoder/src/lib/ContractCallDecoder.spec.ts
  packages/contract-call-decoder/src/lib/ContractCallDecoder.ts
  packages/contract-call-decoder/src/lib/utils.ts
  packages/contract-call-decoder/tsconfig.json
  packages/contract-call-decoder/tsconfig.module.json
  scripts/release/release.sh
Due: run-build-packages

add missing dependencies in lib-sourcify
  package-lock.json
  packages/lib-sourcify/package.json
Due: run-build-packages

fixes after PR review
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

Add database queries types (#1451)
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

Upgrade `config` dependency to get rid of deprecation warnings
  package-lock.json
  services/server/package.json
Due: run-build-server

ui: Move react-scripts to devDependencies
  package-lock.json
  ui/package.json
Due: run-build-ui

Fix auto-fixable vulnerabilities
  package-lock.json
Due: none

Remove IPFS MFS functionality of server
  package-lock.json
  services/server/package.json
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
Due: run-build-server

Add base-x dependency to bytecode-utils
  package-lock.json
  packages/bytecode-utils/package.json
Due: run-build-packages

Add StorageServices docs
  services/server/README.md
Due: run-build-server

Change migration.js config
  services/server/src/config/migration.js
Due: run-build-server

add chains 59144, 59141
  services/server/.env.dev
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
  services/server/test/helpers/etherscanInstanceContracts.json
Due: run-build-server

chore: remove rpc field
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Add chain 59144 59141 (#1455)
  services/server/.env.dev
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
  services/server/test/helpers/etherscanInstanceContracts.json
Due: run-build-server

Add missing MANTLESCAN_API_KEY to .env.dev
  services/server/.env.dev
Due: run-build-server

Modify the scripts.msj to insert contracts to sourcify_sync table in chunks
  services/database/scripts.mjs
Due: none

Add DB README
  services/database/README.md
Due: none

Turn off rateLimit for migration config
  services/server/src/config/migration.js
Due: run-build-server

Add Bearer token to sync script
  services/database/.env.template
  services/database/scripts.mjs
Due: none

Fix missing write in migration config
  services/server/src/config/migration.js
Due: run-build-server

Use sha256 for code_hash and add new field code_hash_keccak
  package-lock.json
  services/database/migrations/20240627084509-code-hash-becomes-sha256.js
  services/server/package.json
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/types.ts
  services/server/test/integration/database.spec.ts
Due: run-build-server

add documentation on how to execute migrations
  services/database/README.md
  services/database/database.json
Due: none

add comments to explain Branded util type
  services/server/src/server/types.ts
Due: run-build-server

generate sha256 hashes using postgres digest function
  package-lock.json
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/verification.ts
  services/server/package.json
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/test/integration/database.spec.ts
Due: run-build-server, run-build-packages

Add comments
  services/database/migrations/20240627084509-code-hash-becomes-sha256.js
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

Typo
  services/database/README.md
Due: none

Change migration config
  services/server/src/config/migration.js
Due: run-build-server

restructure database columns generation
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

lists taraxa testnet and mainnet
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

adds chainIds for both nets
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Change code_hash type to sha256
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/verification.ts
  services/database/README.md
  services/database/database.json
  services/database/migrations/20240627084509-code-hash-becomes-sha256.js
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/types.ts
  services/server/test/integration/database.spec.ts
Due: run-build-server, run-build-packages

removes rpc endpoints from defaults
  services/server/src/sourcify-chains-default.json
Due: run-build-server

use sha256 instead of sha3-256
  services/database/migrations/20240627084509-code-hash-becomes-sha256.js
  services/server/src/server/services/utils/database-util.ts
  services/server/test/integration/database.spec.ts
Due: run-build-server

removes chainIds
  services/server/src/sourcify-chains-default.json
Due: run-build-server
