Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Mock API calls inside etherscan tests (#1406)
  services/server/test/chains/etherscan-instances.spec.ts
  services/server/test/helpers/etherscanResponseMocks.ts
  services/server/test/helpers/helpers.ts
  services/server/test/integration/etherscan.spec.ts
Due: run-build-server

remove mistakenly forgotten updateContract function and console.log
  services/server/src/server/services/utils/database-util.ts
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

Fix `/files/contracts/` paginated tests, allow deploying partial contracts in tests
  services/server/test/helpers/LocalChainFixture.ts
  services/server/test/helpers/ServerFixture.ts
  services/server/test/helpers/helpers.ts
  services/server/test/integration/repository-handlers/files.spec.ts
  services/server/test/integration/verification-handlers/verify.session.spec.ts
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

Remove mocha `.only` modifier
  services/server/test/integration/repository-handlers/files.spec.ts
Due: run-build-server

Add `/files/contracts/partial` endpoint and explicit ordering
  services/server/src/server/controllers/repository/get-contract-addresses-paginated-full.stateless.paths.yaml
  services/server/src/server/controllers/repository/get-contract-addresses-paginated-partial.stateless.paths.yaml
  services/server/src/server/controllers/repository/repository.handlers.ts
  services/server/src/server/controllers/repository/repository.routes.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/types.ts
  services/server/test/helpers/helpers.ts
  services/server/test/integration/repository-handlers/files.spec.ts
Due: run-build-server

Fix SQL NULL comparisons
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

fix #1405 update contract_deployments table after storing a match that previously didn't have contract creation information
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/test/helpers/LocalChainFixture.ts
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

Update chains.json
  services/server/src/chains.json
Due: run-build-server

feat: add chain Aura Xstaxy Mainnet
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

prevent calling getTxReceipt twice during matchWithCreationTx
  packages/lib-sourcify/src/lib/SourcifyChain.ts
  packages/lib-sourcify/src/lib/verification.ts
Due: run-build-packages

remove database migration to add code_new, contracts_new, compiled_contracts_new - remove also db triggers and functions
  services/database/migrations/20240530164500-create-tmp-tables-to-fix-code.js
  services/server/test/helpers/helpers.ts
Due: run-build-server

implement sourcifyFixedDatabase as storageService
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/services.ts
Due: run-build-server

feat: add new chain Aura Xstaxy Mainnet (#1418)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Remove sourcify_sync table functions
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

Add Lamina1 chains
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Remove codecov send command from contract-call-decoder
  package-lock.json
  packages/contract-call-decoder/package.json
Due: run-build-packages

Use CircleCi orb for uploading to codecov
  .circleci/continue_config.yml
  .circleci/new_branch.yml
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/server/package.json
Due: run-build-server, run-build-packages

Add test coverage commands to monitor service
  package-lock.json
  services/monitor/package.json
Due: run-build-monitor

add HOME Verse Mainnet
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Update database migration script - Allow to pass specific chains to sync - When querying the database, retry if conn error
  services/database/scripts.mjs
Due: none

fix metadata.json relative path in /files/any
  services/server/src/server/services/StorageService.ts
Due: run-build-server

Add Lamina1 chains (#1417)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

add HOME Verse Mainnet (#1421)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Add endpoints and tests for missing files: - constructor-args.txt - creator-tx-hash - library-map.json - immutable-references.json
  services/server/src/server/controllers/repository/repository.handlers.ts
  services/server/src/server/controllers/repository/repository.routes.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/test/integration/repository-handlers/files.spec.ts
  services/server/test/testcontracts/LibrariesLinkedByCompiler/1_Storage.sol
  services/server/test/testcontracts/LibrariesLinkedByCompiler/LibrariesLinkedByCompiler.json
  services/server/test/testcontracts/LibrariesLinkedByCompiler/metadata.json
Due: run-build-server

Fix multi-contract verification when dryrun is enabled
  services/server/src/server/controllers/verification/verification.common.ts
Due: run-build-server

Update packages/lib-sourcify/src/lib/SourcifyChain.ts
  packages/lib-sourcify/src/lib/SourcifyChain.ts
Due: run-build-packages

remove old comment "For now disable the creation tests"
  services/server/test/integration/database.spec.ts
Due: run-build-server

fix metadata.json relative path in pushMetadataInFilesInfo
  services/server/src/server/services/StorageService.ts
Due: run-build-server

update test's filepath name for LibrariesLinkedManually
  services/server/test/integration/repository-handlers/files.spec.ts
  services/server/test/testcontracts/LibrariesLinkedManually/1_Storage.sol
  services/server/test/testcontracts/LibrariesLinkedManually/LibrariesLinkedManually.json
  services/server/test/testcontracts/LibrariesLinkedManually/metadata.json
Due: run-build-server

endpoints API now returns all files - add test to get .sol source and metadata
  services/server/src/server/controllers/repository/repository.handlers.ts
  services/server/src/server/controllers/repository/repository.routes.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/util.ts
  services/server/src/server/types.ts
  services/server/test/integration/repository-handlers/files.spec.ts
Due: run-build-server

fix incoherent return type of getFile
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
Due: run-build-server

Remove unused function
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
Due: run-build-server

add tests and fix compiler setting generation
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/test/helpers/helpers.ts
  services/server/test/integration/database.spec.ts
Due: run-build-server

in files tests check if files exists in /files/any instead of /files/tree/any
  services/server/test/integration/repository-handlers/files.spec.ts
Due: run-build-server

Add endpoints and tests for missing files (#1422)
  services/server/src/server/controllers/repository/repository.routes.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/services/utils/util.ts
  services/server/src/server/types.ts
  services/server/test/integration/repository-handlers/files.spec.ts
  services/server/test/testcontracts/LibrariesLinkedManually/1_Storage.sol
  services/server/test/testcontracts/LibrariesLinkedManually/LibrariesLinkedManually.json
  services/server/test/testcontracts/LibrariesLinkedManually/metadata.json
Due: run-build-server

db migration: Make `NULLS NOT DISTINCT` in `compiled_contracts_pseudo_pkey` constraint and add missing down functions
  services/database/migrations/20231109160023-sourcify.js
Due: none

Fix NULL comparison issues in database queries
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

db migration: Make `NULLS NOT DISTINCT` in `compiled_contracts_pseudo_pkey` constraint (#1424)
  services/database/migrations/20231109160023-sourcify.js
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

Use hardhat network in server integration tests
  package-lock.json
  package.json
  services/server/hardhat.config.js
  services/server/package.json
  services/server/test/helpers/LocalChainFixture.ts
  services/server/test/integration/repository-handlers/files.spec.ts
Due: run-build-server

Use hardhat network in tests of lib-sourcify and monitor
  package-lock.json
  packages/lib-sourcify/hardhat.config.js
  packages/lib-sourcify/package.json
  packages/lib-sourcify/test/hardhat-network-helper.ts
  packages/lib-sourcify/test/verification.spec.ts
  services/monitor/hardhat.config.js
  services/monitor/package.json
  services/monitor/test/Monitor.test.js
  services/monitor/test/hardhat-network-helper.js
Due: run-build-monitor, run-build-packages

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*
