Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

contract-creation-util.spec: add Nexus API test
  services/server/test/unit/utils/contract-creation-util.spec.ts
Due: run-build-server

Change callProtection to have offset 1 and only the changed address as value
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/verification.ts
Due: run-build-packages

Add tests to check a library with <0.5.0 placeholder format. Add fixes
  packages/lib-sourcify/src/lib/verification.ts
  services/server/test/helpers/assertions.ts
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
  services/server/test/testcontracts/LibrariesPreSolidity050/artifact.json
  services/server/test/testcontracts/LibrariesPreSolidity050/metadata.json
  services/server/test/testcontracts/LibrariesPreSolidity050/sources/ClaimHolderLibrary.sol
Due: run-build-server, run-build-packages

Oasis chains: add Nexus API fetcher (#1485)
  packages/lib-sourcify/src/lib/types.ts
  services/server/src/server/services/utils/contract-creation-util.ts
  services/server/src/sourcify-chains-default.json
  services/server/test/unit/utils/contract-creation-util.spec.ts
Due: run-build-server, run-build-packages

Skip conract creation util test for Etherscan on PRs
  services/server/test/unit/utils/contract-creation-util.spec.ts
Due: run-build-server

Skip conract creation util test for Etherscan on PRs (#1488)
  services/server/test/unit/utils/contract-creation-util.spec.ts
Due: run-build-server

Handle case when libName is longer than 38 chars in SourcifyDBService conversion from library-map.json
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
Due: run-build-server

Using fully qualified names in library Transformations as identifiers (#1487)
  package-lock.json
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/verification.spec.ts
  services/server/package.json
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/test/helpers/assertions.ts
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
  services/server/test/testcontracts/LibrariesPreSolidity050/artifact.json
  services/server/test/testcontracts/LibrariesPreSolidity050/metadata.json
  services/server/test/testcontracts/LibrariesPreSolidity050/sources/ClaimHolderLibrary.sol
  services/server/test/verifier-alliance/libraries_manually_linked.json
Due: run-build-server, run-build-packages

Turn off DBs
  services/server/src/config/master.js
  services/server/src/config/staging.js
Due: run-build-server

Make RepoV1 read source for staging too
  services/server/src/config/staging.js
Due: run-build-server

fix(deps): update all patch dependencies
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

fix(deps): update all patch dependencies (#1469)
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

fix(deps): update all minor dependencies
  .circleci/new_branch.yml
  .circleci/test-chains-regularly.yml
  .nvmrc
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/Dockerfile
  services/monitor/package.json
  services/server/Dockerfile
  services/server/Dockerfile.debug
  services/server/package.json
  ui/Dockerfile
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

fix(deps): update all minor dependencies (#1484)
  .circleci/new_branch.yml
  .circleci/test-chains-regularly.yml
  .nvmrc
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/Dockerfile
  services/monitor/package.json
  services/server/Dockerfile
  services/server/Dockerfile.debug
  services/server/package.json
  ui/Dockerfile
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

Renovate: reduce schedule to weekly, remove dependencyDashboardApproval for nock, group node dependencies
  renovate.json
Due: none

Remove deprecated @types/dotenv as recommended in Renovate's dependency dashboard
  package-lock.json
  services/server/package.json
Due: run-build-server

Turn off DBs (#1489)
  services/server/src/config/master.js
  services/server/src/config/staging.js
Due: run-build-server

Renovate maintenance (#1490)
  package-lock.json
  renovate.json
  services/server/package.json
Due: run-build-server

Update nock version
  package-lock.json
  services/server/package.json
Due: run-build-server

Remove before statement
  services/server/test/unit/VerificationService.spec.ts
Due: run-build-server

Add test for VerificationService.init() (#1465)
  .vscode/launch.json
  package-lock.json
  services/monitor/package.json
  services/server/package.json
  services/server/src/server/services/VerificationService.ts
  services/server/test/unit/VerificationService.spec.ts
Due: run-build-monitor, run-build-server

Turn off exit in non-zero in the release script
  scripts/release/main.sh
Due: none

Upgrade node version or CircleCI images
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/nightly.yml
Due: none

Update changelogs
  CHANGELOG.md
  packages/bytecode-utils/CHANGELOG.md
  packages/lib-sourcify/CHANGELOG.md
  services/database/CHANGELOG.md
  services/monitor/CHANGELOG.md
  services/server/CHANGELOG.md
  ui/CHANGELOG.md
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

chore(release): publish
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

Switch staging storage backend to DB and write to DB
  services/server/src/config/staging.js
Due: run-build-server

database/scripts.msj: Log different chain outputs to different files
  services/database/scripts.mjs
Due: none

Deploy images to GCP via CI
  .circleci/continue_config.yml
  .circleci/deploy_to_gcp.sh
Due: none

Move GCP deploy script to scripts/
  .circleci/scripts/deploy_to_gcp.sh
Due: none

Move deploy script file, give custom command steps names
  .circleci/continue_config.yml
  .circleci/scripts/deploy_to_gcp.sh
Due: none

Remove command name
  .circleci/continue_config.yml
Due: none

Move deploy script file, give custom command steps names (#1499)
  .circleci/continue_config.yml
  .circleci/scripts/deploy_to_gcp.sh
Due: none

Make GCP deploy script executable
  .circleci/scripts/deploy_to_gcp.sh
Due: none

Fix gcp deploy script
  .circleci/scripts/deploy_to_gcp.sh
Due: none

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*
