Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*

fix add-metadata_match migration
  services/database/migrations/20240710103541-add-metadata_match.js
Due: none

Fix styling
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Add `metadata_match` fields and remove cborAuxdataPositions from artifacts (#1472)
  packages/lib-sourcify/src/lib/types.ts
  services/database/migrations/20240710103541-add-metadata_match.js
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/types.ts
  services/server/test/integration/database.spec.ts
  services/server/test/verifier-alliance/constructor_arguments.json
  services/server/test/verifier-alliance/full_match.json
  services/server/test/verifier-alliance/immutables.json
  services/server/test/verifier-alliance/libraries_linked_by_compiler.json
  services/server/test/verifier-alliance/libraries_manually_linked.json
  services/server/test/verifier-alliance/metadata_hash_absent.json
  services/server/test/verifier-alliance/partial_match.json
  services/server/test/verifier-alliance/partial_match_double_auxdata.json
Due: run-build-server, run-build-packages

server tests: move standard json input verification tests into a describe block
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

Add tests for checking that the recompiled metadata gets stored
  services/server/test/integration/verification-handlers/verify.session.spec.ts
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
  services/server/test/testcontracts/ensure-metadata-storage/EIP1967Admin.sol
  services/server/test/testcontracts/ensure-metadata-storage/EIP1967Proxy.json
  services/server/test/testcontracts/ensure-metadata-storage/EIP1967Proxy.sol
  services/server/test/testcontracts/ensure-metadata-storage/correct-metadata.json
  services/server/test/testcontracts/ensure-metadata-storage/wrong-metadata.json
Due: run-build-server

Add lib-sourcify test to ensure the metadata of CheckedContract gets rewritten after recompilation
  packages/lib-sourcify/test/sources/MetadataRewriting/contract/artifact.json
  packages/lib-sourcify/test/sources/MetadataRewriting/contract/metadata.json
  packages/lib-sourcify/test/sources/MetadataRewriting/contract/sources/EIP1967Admin.sol
  packages/lib-sourcify/test/sources/MetadataRewriting/contract/sources/EIP1967Proxy.sol
  packages/lib-sourcify/test/sources/MetadataRewriting/correct-metadata.json
  packages/lib-sourcify/test/verification.spec.ts
Due: run-build-packages

Replace the metadata of CheckedContract after recompilation when verifying
  packages/lib-sourcify/src/lib/verification.ts
Due: run-build-packages

Fix tests
  packages/lib-sourcify/test/sources/MetadataRewriting/contract/metadata.json
  packages/lib-sourcify/test/sources/MetadataRewriting/correct-metadata.json
  packages/lib-sourcify/test/verification.spec.ts
  services/server/test/helpers/helpers.ts
  services/server/test/integration/path-sanitization.spec.ts
  services/server/test/integration/repository-handlers/files.spec.ts
  services/server/test/integration/verification-handlers/verify.session.spec.ts
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
  services/server/test/testcontracts/Storage/metadataModified.json
  services/server/test/testcontracts/ensure-metadata-storage/correct-metadata.json
  services/server/test/testcontracts/ensure-metadata-storage/wrong-metadata.json
  services/server/test/verifier-alliance/constructor_arguments.json
  services/server/test/verifier-alliance/full_match.json
  services/server/test/verifier-alliance/genesis.json
  services/server/test/verifier-alliance/immutables.json
  services/server/test/verifier-alliance/libraries_linked_by_compiler.json
  services/server/test/verifier-alliance/libraries_manually_linked.json
  services/server/test/verifier-alliance/metadata_hash_absent.json
  services/server/test/verifier-alliance/partial_match.json
  services/server/test/verifier-alliance/partial_match_2.json
  services/server/test/verifier-alliance/partial_match_double_auxdata.json
Due: run-build-server, run-build-packages

add-chain-16180-62831
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Add chain 100009 (#1427)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Implement vera changes - https://github.com/verifier-alliance/database-specs/pull/5 - https://github.com/verifier-alliance/database-specs/pull/6
  services/database/migrations/20240715152144-add-transformations-contraint.js
  services/database/migrations/20240715154744-add-timestamp-fields.js
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

Move metadata assignment to recompile function
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/verification.ts
Due: run-build-packages

add chain 16350
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Add comment
  packages/lib-sourcify/src/lib/CheckedContract.ts
Due: run-build-packages

Filename typo
  services/database/migrations/20240715152144-add-transformations-constraint.js
Due: none

Add comment and remove unused variable
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
Due: run-build-server

Update services/server/src/server/services/utils/database-util.ts
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

Fix storage of metadata files (#1475)
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/test/sources/MetadataRewriting/contract/artifact.json
  packages/lib-sourcify/test/sources/MetadataRewriting/contract/metadata.json
  packages/lib-sourcify/test/sources/MetadataRewriting/contract/sources/EIP1967Admin.sol
  packages/lib-sourcify/test/sources/MetadataRewriting/contract/sources/EIP1967Proxy.sol
  packages/lib-sourcify/test/sources/MetadataRewriting/correct-metadata.json
  packages/lib-sourcify/test/verification.spec.ts
  services/server/test/helpers/helpers.ts
  services/server/test/integration/path-sanitization.spec.ts
  services/server/test/integration/repository-handlers/files.spec.ts
  services/server/test/integration/verification-handlers/verify.session.spec.ts
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
  services/server/test/testcontracts/Storage/metadataModified.json
  services/server/test/testcontracts/ensure-metadata-storage/EIP1967Admin.sol
  services/server/test/testcontracts/ensure-metadata-storage/EIP1967Proxy.json
  services/server/test/testcontracts/ensure-metadata-storage/EIP1967Proxy.sol
  services/server/test/testcontracts/ensure-metadata-storage/correct-metadata.json
  services/server/test/testcontracts/ensure-metadata-storage/wrong-metadata.json
  services/server/test/verifier-alliance/constructor_arguments.json
  services/server/test/verifier-alliance/full_match.json
  services/server/test/verifier-alliance/genesis.json
  services/server/test/verifier-alliance/immutables.json
  services/server/test/verifier-alliance/libraries_linked_by_compiler.json
  services/server/test/verifier-alliance/libraries_manually_linked.json
  services/server/test/verifier-alliance/metadata_hash_absent.json
  services/server/test/verifier-alliance/partial_match.json
  services/server/test/verifier-alliance/partial_match_2.json
  services/server/test/verifier-alliance/partial_match_double_auxdata.json
Due: run-build-server, run-build-packages

Implement vera changes (#1476)
  services/database/migrations/20240715152144-add-transformations-constraint.js
  services/database/migrations/20240715154744-add-timestamp-fields.js
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

add auxdata in artifacts - add full_match_double_auxdata test - add cborAuxdata in all tests
  packages/lib-sourcify/src/lib/verification.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/test/integration/database.spec.ts
  services/server/test/verifier-alliance/constructor_arguments.json
  services/server/test/verifier-alliance/full_match.json
  services/server/test/verifier-alliance/full_match_double_auxdata.json
  services/server/test/verifier-alliance/immutables.json
  services/server/test/verifier-alliance/libraries_linked_by_compiler.json
  services/server/test/verifier-alliance/libraries_manually_linked.json
  services/server/test/verifier-alliance/metadata_hash_absent.json
  services/server/test/verifier-alliance/partial_match.json
  services/server/test/verifier-alliance/partial_match_double_auxdata.json
Due: run-build-server, run-build-packages

Nullable metadata_match
  services/database/migrations/20240716160322-metadata_match-nullable.js
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

chore(deps): update all minor dependencies
  package-lock.json
  packages/lib-sourcify/package.json
  ui/package.json
Due: run-build-packages, run-build-ui

fix format
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

remove .only from full_match_double_auxdata
  services/server/test/integration/database.spec.ts
Due: run-build-server

Add auxdata in artifacts (#1478)
  packages/lib-sourcify/src/lib/verification.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/test/integration/database.spec.ts
  services/server/test/verifier-alliance/constructor_arguments.json
  services/server/test/verifier-alliance/full_match.json
  services/server/test/verifier-alliance/full_match_double_auxdata.json
  services/server/test/verifier-alliance/immutables.json
  services/server/test/verifier-alliance/libraries_linked_by_compiler.json
  services/server/test/verifier-alliance/libraries_manually_linked.json
  services/server/test/verifier-alliance/metadata_hash_absent.json
  services/server/test/verifier-alliance/partial_match.json
  services/server/test/verifier-alliance/partial_match_double_auxdata.json
Due: run-build-server, run-build-packages

Nullable metadata_match (#1479)
  services/database/migrations/20240716160322-metadata_match-nullable.js
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

add-chain-16180-62831 (#1474)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

add chain 16350 (#1477)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

chore(deps): update all minor dependencies (#1481)
  package-lock.json
  packages/lib-sourcify/package.json
  ui/package.json
Due: run-build-packages, run-build-ui

Renovate: require dependencyDashboardApproval for nock
  renovate.json
Due: none

rename transformations
  packages/lib-sourcify/src/lib/types.ts
Due: run-build-packages

Renovate: require dependencyDashboardApproval for nock (#1482)
  renovate.json
Due: none

update tests
  packages/lib-sourcify/test/verification.spec.ts
  services/server/test/verifier-alliance/constructor_arguments.json
  services/server/test/verifier-alliance/partial_match.json
  services/server/test/verifier-alliance/partial_match_2.json
  services/server/test/verifier-alliance/partial_match_double_auxdata.json
Due: run-build-server, run-build-packages

Rename transformations keys following VerA schema (#1483)
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/test/verification.spec.ts
  services/server/test/verifier-alliance/constructor_arguments.json
  services/server/test/verifier-alliance/partial_match.json
  services/server/test/verifier-alliance/partial_match_2.json
  services/server/test/verifier-alliance/partial_match_double_auxdata.json
Due: run-build-server, run-build-packages

Oasis chains: add Nexus API fetcher
  packages/lib-sourcify/src/lib/types.ts
  services/server/src/server/services/utils/contract-creation-util.ts
  services/server/src/sourcify-chains-default.json
Due: run-build-server, run-build-packages

Add library transformation logic to accomodate the VerA format. Modify the test.
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/verification.ts
  services/server/test/verifier-alliance/libraries_manually_linked.json
Due: run-build-server, run-build-packages

Fix build
  packages/lib-sourcify/src/lib/verification.ts
Due: run-build-packages

Fix not iterating over libraries array. Fix library format conversion when using DB as the backend.
  package-lock.json
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/verification.ts
  services/server/package.json
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
Due: run-build-server, run-build-packages

Fix replacing all library occurances
  packages/lib-sourcify/src/lib/verification.ts
Due: run-build-packages

Fix build error in lib-sourcify tests
  packages/lib-sourcify/test/verification.spec.ts
Due: run-build-packages
