Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Fix missing other chains in monitor
  services/monitor/chains.json
Due: run-build-monitor

Add comment
  packages/lib-sourcify/src/lib/verification.ts
Due: run-build-packages

Implement verifier alliance tests
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/verification.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/test/helpers/verifierAlliance.js
  services/server/test/server.js
  services/server/test/verifier-alliance/constructor_arguments.json
  services/server/test/verifier-alliance/full_match.json
  services/server/test/verifier-alliance/genesis.json
  services/server/test/verifier-alliance/immutables.json
  services/server/test/verifier-alliance/libraries_linked_by_compiler.json
  services/server/test/verifier-alliance/libraries_manually_linked.json
  services/server/test/verifier-alliance/metadata_hash_absent.json
  services/server/test/verifier-alliance/partial_match.json
  services/server/test/verifier-alliance/partial_match_2.json
  services/server/test/verifier-alliance/partial_match_double_auxdata.json
Due: run-build-server, run-build-packages

add chain
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Update cimg/base images CircleCI
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Oasis chains: Use new `fetchContractCreationTxUsing` URLs (#1282)
  services/server/src/sourcify-chains-default.json
Due: run-build-server

fix tests after new extra-file-input-bug responses
  services/server/test/server.js
Due: run-build-server

fix #1268 add holesky verification and monitor CD
  .circleci/continue_config.yml
  .circleci/nightly.yml
Due: none

add holesky support to monitor
  services/monitor/chains.json
Due: run-build-monitor

chain 202401 test
  package-lock.json
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

fix #1288 add unexpected field validation
  services/server/src/server/server.ts
Due: run-build-server

update type of verified_contract_id and handle update case where no need to update because there is already a better match
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

Fix wrong runtimeMatch check after creation match
  packages/lib-sourcify/src/lib/verification.ts
Due: run-build-packages

add chain 202401 in sourcify-chains.ts
  services/server/src/sourcify-chains.ts
Due: run-build-server

re deploy smart contracts
  services/server/test/chains/chain-tests.js
Due: run-build-server

rollback sourcify-chains.ts
  services/server/src/sourcify-chains.ts
Due: run-build-server

re-test deploy and chain-test
  services/server/test/chains/chain-tests.js
Due: run-build-server

re-test
  services/server/test/chains/chain-tests.js
Due: run-build-server

re-test for ci/circleci:test-new-chain
  services/server/test/chains/chain-tests.js
Due: run-build-server

Add Ozone Chain Mainnet
  package-lock.json
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

Update chains.json
  services/monitor/chains.json
Due: run-build-monitor

#1293 insert sync row in sourcify_sync for each match until sync process is over
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

Fix Telos chain name in tests
  services/server/test/chains/chain-tests.js
Due: run-build-server

Turn off chains: 78430, 78431, 78432
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

Add Ozone Chain Mainnet (#1292)
  package-lock.json
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

Update chains.json
  services/server/src/chains.json
Due: run-build-server

Revert "Update chains.json"
  services/monitor/chains.json
Due: run-build-monitor

Rename monitor chains.json to monitorChains.json to avoid confusion
  services/monitor/Dockerfile
  services/monitor/README.md
  services/monitor/monitorChains.json
  services/monitor/src/index.ts
  services/server/src/server/middlewares/simpleAuthenticate.ts
Due: run-build-monitor, run-build-server

add-chain-202401
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

Add Endurance Smart Chain Mainnet
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

update migration script
  services/database/scripts.mjs
Due: none

add repositoryV2 in master config (not actually storing until we enable the repositoryv2 drive on production)
  services/server/src/config/master.js
Due: run-build-server

Revert package-lock changes
  package-lock.json
Due: none

Remove simpleAuthenticate file leaked from improved-logging branch
  services/server/src/server/middlewares/simpleAuthenticate.ts
Due: run-build-server

Change goerli rpc
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Remove goerli e2e tests
  .circleci/continue_config.yml
  .circleci/nightly.yml
Due: none

update changelogs
  CHANGELOG.md
  packages/lib-sourcify/CHANGELOG.md
  services/database/CHANGELOG.md
  services/monitor/CHANGELOG.md
  services/server/CHANGELOG.md
Due: run-build-monitor, run-build-server, run-build-packages

chore(release): publish
  package-lock.json
  package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Add CrossFi Chain Testnet 4157
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*
