Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

fixe #1325 replace Base Goerli with mainnet for getCreatorTx test
  services/server/test/server.js
Due: run-build-server

Remove Polygon Mumbai support and remove tests
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

Fix etherscan verification tests (#1327)
  services/server/src/sourcify-chains-default.json
  services/server/test/etherscan/etherscanInstances.js
  services/server/test/helpers/etherscanInstanceContracts.json
Due: run-build-server

Add `dryrun` query param to enable verification preview (#1343)
  services/server/src/server/controllers/verification/session-state/input-files.session-state.paths.yaml
  services/server/src/server/controllers/verification/session-state/session-state.handlers.ts
  services/server/src/server/controllers/verification/verification.common.ts
  services/server/src/server/controllers/verification/verify/session/verify.session.handlers.ts
  services/server/src/server/controllers/verification/verify/session/verify.session.paths.yaml
  services/server/test/server.js
Due: run-build-server

use new repositoryV1 as source of truth
  services/server/src/config/staging.js
Due: run-build-server

Update chains.json
  services/server/src/chains.json
Due: run-build-server

Don't run npm-publish job if not a package
  .circleci/config.yml
Due: none

make packages private
  serverless/compiler-lambda/package.json
  services/database/package.json
  services/monitor/package.json
Due: run-build-monitor

Update changelogs
  CHANGELOG.md
  packages/lib-sourcify/CHANGELOG.md
  services/database/CHANGELOG.md
  services/monitor/CHANGELOG.md
  services/server/CHANGELOG.md
  ui/CHANGELOG.md
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

Update release script
  scripts/release.sh
  scripts/release/git_utils.sh
  scripts/release/logging_utils.sh
  scripts/release/main.sh
  scripts/release/release.sh
Due: none

chore(release): publish
  package-lock.json
  package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

Remove double promts in release script
  scripts/release/release.sh
Due: none

#1370 handle libraries with both old (Lib) and new (Lib.sol:Lib) format in json input
  packages/lib-sourcify/src/lib/CheckedContract.ts
  services/server/test/server.js
  services/server/test/testcontracts/LibrariesSolidity075/Example.sol
  services/server/test/testcontracts/LibrariesSolidity075/LibrariesSolidity075.json
  services/server/test/testcontracts/LibrariesSolidity075/metadata.json
Due: run-build-server, run-build-packages

Support multiple metadata hash verfication (#1342)
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/utils.ts
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/sources/WithMultipleAuxdatas/artifact.json
  packages/lib-sourcify/test/sources/WithMultipleAuxdatas/metadata.json
  packages/lib-sourcify/test/sources/WithMultipleAuxdatas/sources/ERC20Token.sol
  packages/lib-sourcify/test/sources/WithMultipleAuxdatas/sources/ERC721Token.sol
  packages/lib-sourcify/test/sources/WithMultipleAuxdatas/sources/Factory.sol
  packages/lib-sourcify/test/verification.spec.ts
  services/server/test/helpers/verifierAlliance.js
  services/server/test/server.js
  services/server/test/verifier-alliance/partial_match_double_auxdata.json
Due: run-build-server, run-build-packages

Typescript support for server tests
  .eslintrc.js
  package-lock.json
  services/server/.mocharc.json
  services/server/package.json
  services/server/test/.eslintrc.js
  services/server/test/chains/chain-tests.spec.ts
  services/server/test/chains/deployContracts.ts
  services/server/test/etherscan.spec.ts
  services/server/test/etherscan/etherscanInstances.spec.ts
  services/server/test/helpers/ContractWrapper.js
  services/server/test/helpers/assertions.ts
  services/server/test/helpers/helpers.ts
  services/server/test/helpers/verifierAlliance.ts
  services/server/test/server.spec.ts
Due: run-build-server

contract-call-decoder: Run tests against Sepolia instead of Goerli
  packages/contract-call-decoder/src/lib/ContractCallDecoder.spec.ts
Due: run-build-packages

Typescript support for server tests (#1374)
  .eslintrc.js
  package-lock.json
  packages/contract-call-decoder/src/lib/ContractCallDecoder.spec.ts
  services/server/.mocharc.json
  services/server/package.json
  services/server/test/.eslintrc.js
  services/server/test/chains/chain-tests.spec.ts
  services/server/test/chains/deployContracts.ts
  services/server/test/etherscan.spec.ts
  services/server/test/etherscan/etherscanInstances.spec.ts
  services/server/test/helpers/ContractWrapper.js
  services/server/test/helpers/assertions.ts
  services/server/test/helpers/helpers.ts
  services/server/test/helpers/verifierAlliance.ts
  services/server/test/server.spec.ts
Due: run-build-server, run-build-packages

Fix test scripts after introducing typescript support
  .vscode/launch.json
  services/server/package.json
Due: run-build-server

Add New Chains Stratis 105105 205205
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

Add New Chains Stratis 105105 205205 (#1381)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Do not update sourcify_sync after a successful match
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
Due: run-build-server

Fix check-etherscan-instances CI job after introducing TypeScript
  .circleci/nightly.yml
Due: none

add code for deprecated chains migration
  services/database/scripts.mjs
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.paths.yaml
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.routes.ts
Due: run-build-server

Switch Telos api to use teloscan
  services/server/src/server/services/utils/contract-creation-util.ts
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Switch Telos rpc
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Fix session type in chain-tests
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Update release scripts
  scripts/release/git_utils.sh
  scripts/release/release.sh
Due: none

feat: add chain Aura Euphoria Testnet
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Update sourcify-chains-default.json
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Update chain-tests.spec.ts
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Add MerlinChain (#1387)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

add xai mainnet and testnet
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

feat: remove aura rpc to use chains.json
  services/server/src/sourcify-chains-default.json
Due: run-build-server

remove rpc endpoints
  services/server/src/sourcify-chains-default.json
Due: run-build-server

add xai mainnet and testnet (#1383)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*
