Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Add vechain networks
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Correct JSON syntax
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Add test deployments
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Update chains.json
  services/server/src/chains.json
Due: run-build-server

Update sourcify-chains-default.json
  services/server/src/sourcify-chains-default.json
Due: run-build-server

#1435 Implement storage service switch WIP
  services/server/src/config/default.js
  services/server/src/server/controllers/controllers.common.ts
  services/server/src/server/controllers/repository/repository.handlers.ts
  services/server/src/server/controllers/repository/repository.routes.ts
  services/server/src/server/controllers/verification/etherscan/session/etherscan.session.handlers.ts
  services/server/src/server/controllers/verification/etherscan/stateless/etherscan.stateless.handlers.ts
  services/server/src/server/controllers/verification/session-state/session-state.handlers.ts
  services/server/src/server/controllers/verification/solc-json/stateless/solc-json.stateless.handlers.ts
  services/server/src/server/controllers/verification/verify/session/verify.session.handlers.ts
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
  services/server/src/server/server.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/services.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/AllianceDatabaseService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/storageServices/SourcifyFixedDatabaseService.ts
  services/server/test/helpers/ServerFixture.ts
  services/server/test/helpers/assertions.ts
  services/server/test/helpers/helpers.ts
  services/server/test/integration/database.spec.ts
  services/server/test/integration/path-sanitization.spec.ts
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

Use correct network name
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Update unit tests
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Update chain-tests.spec.ts
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

fix tests
  services/server/test/chains/sources/11227/multicall3.metadata.json
  services/server/test/chains/sources/48795/multicall3.metadata.json
  services/server/test/chains/sources/8227/multicall3.metadata.json
Due: run-build-server

Fix metadata for tests
  services/server/test/chains/sources/11227/multicall3.metadata.json
  services/server/test/chains/sources/48795/multicall3.metadata.json
  services/server/test/chains/sources/8227/multicall3.metadata.json
Due: run-build-server

Add multicall to test sources
  services/server/test/chains/sources/11227/Multicall3.sol
  services/server/test/chains/sources/11227/multicall3.metadata.json
  services/server/test/chains/sources/48795/Multicall3.sol
  services/server/test/chains/sources/8227/Multicall3.sol
Due: run-build-server

add multicall to contracts
  services/server/test/chains/sources/11227/multicall3.metadata.json
  services/server/test/sources/contracts/Multicall3.sol
Due: run-build-server

Move rpc's to chains config
  services/server/src/chains.json
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Revert "Move rpc's to chains config"
  services/server/src/chains.json
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Fix target
  services/server/test/chains/sources/11227/multicall3.metadata.json
  services/server/test/chains/sources/48795/multicall3.metadata.json
  services/server/test/chains/sources/8227/multicall3.metadata.json
Due: run-build-server

fix
  services/server/test/chains/sources/11227/multicall3.metadata.json
  services/server/test/chains/sources/48795/multicall3.metadata.json
  services/server/test/chains/sources/8227/multicall3.metadata.json
Due: run-build-server

fix
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Add Base sepolia (84532)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
  services/server/test/helpers/etherscanInstanceContracts.json
Due: run-build-server

No-timeout in etherscan tests debugging
  .vscode/launch.json
Due: none

Remove rpc endpoints
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

fix tests
  services/server/src/config/default.js
  services/server/src/config/local-test.js
  services/server/src/server/server.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/services.ts
  services/server/src/server/services/storageServices/AllianceDatabaseService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/storageServices/SourcifyFixedDatabaseService.ts
  services/server/src/server/services/storageServices/identifiers.ts
  services/server/test/helpers/ServerFixture.ts
  services/server/test/integration/database.spec.ts
  services/server/test/integration/verification-handlers/verify.session.spec.ts
Due: run-build-server

Replace Ganache with Hardhat Network in tests (#1426)
  package-lock.json
  package.json
  packages/lib-sourcify/hardhat.config.js
  packages/lib-sourcify/package.json
  packages/lib-sourcify/test/hardhat-network-helper.ts
  packages/lib-sourcify/test/verification.spec.ts
  services/monitor/hardhat.config.js
  services/monitor/package.json
  services/monitor/test/Monitor.test.js
  services/monitor/test/hardhat-network-helper.js
  services/server/hardhat.config.js
  services/server/package.json
  services/server/test/helpers/LocalChainFixture.ts
  services/server/test/integration/repository-handlers/files.spec.ts
Due: run-build-monitor, run-build-server, run-build-packages

Replace Ava with Mocha as test runner
  package-lock.json
  packages/bytecode-utils/.gitignore
  packages/bytecode-utils/.mocharc.json
  packages/bytecode-utils/package.json
  packages/bytecode-utils/src/lib/bytecode.spec.ts
  packages/bytecode-utils/test/bytecode.spec.ts
  packages/bytecode-utils/test/bytecodes/bzzr1.hex
  packages/bytecode-utils/test/bytecodes/experimental.hex
  packages/bytecode-utils/test/bytecodes/ipfs.hex
  packages/bytecode-utils/test/bytecodes/without0x.hex
  packages/bytecode-utils/test/bytecodes/withoutauxdata.hex
  packages/bytecode-utils/test/bytecodes/wrong.hex
  packages/bytecode-utils/tsconfig.json
Due: run-build-packages

Replace Ava with Mocha as test runner (#1438)
  package-lock.json
  packages/bytecode-utils/.gitignore
  packages/bytecode-utils/.mocharc.json
  packages/bytecode-utils/package.json
  packages/bytecode-utils/src/lib/bytecode.spec.ts
  packages/bytecode-utils/test/bytecode.spec.ts
  packages/bytecode-utils/test/bytecodes/bzzr1.hex
  packages/bytecode-utils/test/bytecodes/experimental.hex
  packages/bytecode-utils/test/bytecodes/ipfs.hex
  packages/bytecode-utils/test/bytecodes/without0x.hex
  packages/bytecode-utils/test/bytecodes/withoutauxdata.hex
  packages/bytecode-utils/test/bytecodes/wrong.hex
  packages/bytecode-utils/tsconfig.json
Due: run-build-packages

Update Mocha version of bytecode-utils in order to fix tests
  package-lock.json
  packages/bytecode-utils/package.json
Due: run-build-packages

Enable TypeScript in Monitor tests
  .vscode/launch.json
  services/monitor/.mocharc.json
  services/monitor/package.json
  services/monitor/test/.eslintrc.js
  services/monitor/test/Monitor.spec.ts
  services/monitor/test/hardhat-network-helper.ts
  services/monitor/test/testLogger.ts
Due: run-build-monitor

Fix Hardhat Network with debugger attached
  packages/lib-sourcify/test/hardhat-network-helper.ts
  services/monitor/test/hardhat-network-helper.js
  services/server/test/helpers/LocalChainFixture.ts
Due: run-build-monitor, run-build-server, run-build-packages

Fix typescript error in lib-sourcify
  packages/lib-sourcify/test/hardhat-network-helper.ts
  services/monitor/test/hardhat-network-helper.js
  services/server/test/helpers/LocalChainFixture.ts
Due: run-build-monitor, run-build-server, run-build-packages

json files in /files/any return as string - add tests
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/test/integration/repository-handlers/files.spec.ts
Due: run-build-server

add /session/input-contract test
  services/server/test/integration/verification-handlers/verify.session.spec.ts
  services/server/test/mocks/ipfs/QmNgYBpa6rUqCnfeYXC9eqURstnsTwPFrAPEM6GtvpFxVW
Due: run-build-server

remove .only from test
  services/server/test/integration/verification-handlers/verify.session.spec.ts
Due: run-build-server

Exclude test files from coverage in bytecode-utils package
  packages/bytecode-utils/package.json
Due: run-build-packages

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*
