Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*

Add Tiltyard mainnet chain
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Add test
  services/server/test/chains/chain-tests.js
Due: run-build-server

Remove RPC details
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Remove Base Goerli (84531) support and etherscan test contracts
  services/server/src/sourcify-chains-default.json
  services/server/test/helpers/etherscanInstanceContracts.json
Due: run-build-server

Add chain 710420 (#1301)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

Add CrossFi Chain Testnet 4157 (#1300)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

Fix typo
  services/server/test/chains/chain-tests.js
Due: run-build-server

Add Endurance Smart Chain Mainnet (#1297)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

chore(release): publish
  package-lock.json
  package.json
  services/server/package.json
Due: run-build-server

Update CHANGELOGs
  CHANGELOG.md
  lerna.json
  services/server/CHANGELOG.md
Due: run-build-server

test passed
  package-lock.json
  services/server/package.json
  services/server/src/server/server.ts
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

fix typos
  CHANGELOG.md
  packages/bytecode-utils/CHANGELOG.md
  packages/lib-sourcify/test/compiler/solidityCompiler.ts
  packages/lib-sourcify/test/sources/StorageModified/sources/StorageModified.sol
  packages/lib-sourcify/test/verification.spec.ts
  services/monitor/README.md
  services/server/test/testcontracts/Storage/StorageModified.sol
  ui/README.md
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

deleted wrong file readded it
  package-lock.json
  services/server/package.json
  services/server/src/server/server.ts
Due: run-build-server

update ZetaChain Mainnet and Athens Testnet RPC endpoints
  src/chains.json
Due: none

update rpc endpoints for chain ID 7000 and 7001
  src/chains.json
Due: none

Exit non-zero if branch name is wrong in new chain test
  .circleci/scripts/test_new_chain_support.sh
  .vscode/launch.json
Due: none

Remove Base Goerli and Gather testnet tests
  services/server/test/chains/chain-tests.js
Due: run-build-server

Rearrange server imports, external imports first
  services/server/src/server/server.ts
Due: run-build-server

Serialize objects in logs, add NODE_LOG_LEVEL env, add setLogLevel func
  .vscode/launch.json
  services/server/src/common/logger.ts
Due: run-build-server

Define JSON and line log formats
  .vscode/launch.json
  services/server/src/common/logger.ts
Due: run-build-server

Add [service] in logger and colorize
  services/server/src/common/logger.ts
  services/server/src/server/server.ts
Due: run-build-server

Replace sourcify-server logs with new object format
  services/server/src/common/logger.ts
  services/server/src/server/controllers/controllers.common.ts
  services/server/src/server/controllers/verification/etherscan/etherscan.common.ts
  services/server/src/server/controllers/verification/etherscan/session/etherscan.session.handlers.ts
  services/server/src/server/controllers/verification/etherscan/stateless/etherscan.stateless.handlers.ts
  services/server/src/server/controllers/verification/session-state/session-state.handlers.ts
  services/server/src/server/controllers/verification/verify/session/verify.session.handlers.ts
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
  services/server/src/server/server.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/VerificationService.ts
  services/server/src/server/services/compiler/local/solidityCompiler.ts
  services/server/src/server/services/storageServices/AllianceDatabaseService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/contract-creation-util.ts
  services/server/src/sourcify-chains.ts
Due: run-build-server

Add [service] in logger and colorize
  services/server/.env.dev
Due: run-build-server

Move some routes to routes.ts
  services/server/src/server/routes.ts
  services/server/src/server/server.ts
Due: run-build-server

Make line log msg bold, rest gray. Improve logs
  packages/lib-sourcify/src/lib/verification.ts
  services/monitor/src/logger.ts
  services/server/src/common/logger.ts
  services/server/src/server/controllers/verification/etherscan/etherscan.common.ts
  services/server/src/server/controllers/verification/verify/session/verify.session.handlers.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/utils/contract-creation-util.ts
Due: run-build-monitor, run-build-server, run-build-packages

Move all error handlers to one place
  services/server/src/common/errors/GenericErrorHandler.ts
  services/server/src/server/middlewares/NotFoundError.ts
  services/server/src/server/server.ts
Due: run-build-server

Handle Error object stringification
  services/server/src/common/logger.ts
Due: run-build-server

Init monitor logging
  package-lock.json
  services/monitor/src/ChainMonitor.ts
  services/monitor/src/DecentralizedStorageFetcher.ts
  services/monitor/src/GatewayFetcher.ts
  services/monitor/src/Monitor.ts
  services/monitor/src/PendingContract.ts
  services/monitor/src/logger.ts
Due: run-build-monitor

Validate NODE_LOG_LEVEL env var
  services/monitor/src/logger.ts
  services/server/src/common/logger.ts
Due: run-build-monitor, run-build-server

Remove ContextVariables from the code
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/utils.ts
  services/server/src/server/common.ts
  services/server/src/server/controllers/verification/solc-json/stateless/solc-json.stateless.handlers.ts
  services/server/src/server/controllers/verification/verification.common.ts
  services/server/src/server/controllers/verification/verify/session/verify.session.handlers.ts
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
  services/server/src/server/services/VerificationService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/ChainAddressForm/index.tsx
  ui/src/types.ts
Due: run-build-server, run-build-packages, run-build-ui

Format lib-sourcify logger to have metadata, format log entries in the code
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/SourcifyChain.ts
  packages/lib-sourcify/src/lib/logger.ts
  packages/lib-sourcify/src/lib/utils.ts
  packages/lib-sourcify/src/lib/verification.ts
  packages/lib-sourcify/test/compiler/logger.ts
  packages/lib-sourcify/test/compiler/solidityCompiler.ts
  services/server/src/common/logger.ts
  services/server/src/server/server.ts
Due: run-build-server, run-build-packages

Extensive logging for sourcify-server
  services/server/src/server/controllers/repository/repository.handlers.ts
  services/server/src/server/controllers/verification/etherscan/session/etherscan.session.handlers.ts
  services/server/src/server/controllers/verification/session-state/session-state.handlers.ts
  services/server/src/server/controllers/verification/solc-json/session/solc-json.session.handlers.ts
  services/server/src/server/controllers/verification/verification.common.ts
  services/server/src/server/services/compiler/local/solidityCompiler.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
Due: run-build-server

Don't log /chains output
  services/server/src/server/routes.ts
Due: run-build-server

Move lib-sourcify logger initialization to server logger, match lib-sourcify log level to server initially
  services/server/src/common/logger.ts
  services/server/src/server/server.ts
Due: run-build-server

Add eth_blockNumber logging LibSourcify
  packages/lib-sourcify/src/lib/SourcifyChain.ts
Due: run-build-packages

Inject requestId into server logs
  package-lock.json
  services/server/package.json
  services/server/src/common/async-context.ts
  services/server/src/common/logger.ts
  services/server/src/server/server.ts
Due: run-build-server

Fix parseInt of NODE_LOG_LEVEL (is a string)
  services/monitor/src/logger.ts
  services/server/src/common/logger.ts
Due: run-build-monitor, run-build-server

Dynamically change log levels in server
  services/server/.env.dev
  services/server/src/common/logger.ts
  services/server/src/openapi.yaml
  services/server/src/server/routes.ts
  services/server/src/server/server.ts
Due: run-build-server

Fix invalid chosenContract causing undefined checkedContract
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
Due: run-build-server

Add /change-log-level to server README
  services/server/README.md
Due: run-build-server
