Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

start writing on the `test-verifier-alliance` database
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/services.ts
  services/server/src/server/services/storageServices/AllianceDatabaseService.ts
Due: run-build-server

update alliance database schema
  services/database/migrations/20231109160022-create-schema.js
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

Fix typos (#1251)
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/ChainAddressForm/Message.tsx
  ui/src/pages/Verifier/FileUpload.tsx
  ui/src/pages/Verifier/index.tsx
Due: run-build-ui

add Polygon ZkEVM
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

try with polygonScan api key
  services/server/src/sourcify-chains-default.json
Due: run-build-server

schema compatibility fix for the alliance database
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/verification.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/AllianceDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server, run-build-packages

sleep more time to wait for the compiler to start
  services/server/package.json
Due: run-build-server

test force host port for test database docker-compose
  services/server/test/docker-compose.yml
Due: run-build-server

Add zkevm Polygonscan env var, add test contracts
  services/server/.env.dev
  services/server/src/sourcify-chains-default.json
  services/server/test/helpers/etherscanInstanceContracts.json
Due: run-build-server

Throw etherscan on non 200 code
  services/server/src/server/controllers/verification/etherscan/etherscan.common.ts
Due: run-build-server

add Polygon ZkEVM (#1253)
  services/server/.env.dev
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
  services/server/test/helpers/etherscanInstanceContracts.json
Due: run-build-server

use another docker container in the circleci config to run postgreSQL
  .circleci/new_branch.yml
  services/server/package.json
  services/server/test/docker-compose.yml
Due: run-build-server

remove ports parameter from circleci settings
  .circleci/new_branch.yml
Due: none

fix postgesql env settings in circleci
  .circleci/new_branch.yml
Due: none

set compiler column always to "solc"
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
Due: run-build-server

disable writing to the database during the tests except for the ad-hoc database tests
  services/server/package.json
  services/server/test/server.js
Due: run-build-server

add support for the database also for staging and master ci
  .circleci/continue_config.yml
  .circleci/new_branch.yml
Due: none

Set up database tests (support for local, debugger and CI) and minor improvements (#1257)
  .circleci/continue_config.yml
  .circleci/new_branch.yml
  .vscode/launch.json
  .vscode/tasks.json
  package-lock.json
  services/database/database.json
  services/server/package.json
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/test/StorageService.test.js
  services/server/test/docker-compose.yml
  services/server/test/server.js
  services/server/test/testcontracts/Database/CheckedContract.json
  services/server/test/testcontracts/Database/Match.json
Due: run-build-server

update chains.json
  services/monitor/chains.json
Due: run-build-monitor

Revert "update chains.json"
  services/monitor/chains.json
Due: run-build-monitor

update server chains.json
  services/server/src/chains.json
Due: run-build-server

Create Token.sol
  services/server/test/chains/sources/57/sources/project/contracts/Token.sol
Due: run-build-server

Delete services/server/test/chains/sources/57/sources/project: directory
  services/server/test/chains/sources/57/sources/project:/contracts/Token.sol
Due: run-build-server

Update Token.sol
  services/server/test/chains/sources/57/sources/project/contracts/Token.sol
Due: run-build-server

Terminate and reinit Worker on each new compiler version
  ui/src/pages/BrowserVerifier/index.tsx
Due: run-build-ui

Polyfill assert
  package-lock.json
  ui/craco.config.js
  ui/package.json
  ui/src/pages/BrowserVerifier/browserCompilerWorker.ts
Due: run-build-ui

fix local etherscan.js tests
  services/server/test/etherscan.js
Due: run-build-server

rename test contract's path for chain 57 to fix #1258
  services/server/test/chains/chain-tests.js
  services/server/test/chains/sources/57/sources/project/contracts/Token.sol
Due: run-build-server

update: Add Scroll Sepolia Testnet and Scroll Mainnet (fix #1256)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

add support for Scroll mainnet and testnet
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
  services/server/test/chains/sources/534352/@openzeppelin/contracts/token/ERC20/IERC20.sol
  services/server/test/chains/sources/534352/contracts/zero-ex/src/features/interfaces/IERC1155OrdersEvent.sol
  services/server/test/chains/sources/534352/contracts/zero-ex/src/features/interfaces/IERC1155OrdersFeature.sol
  services/server/test/chains/sources/534352/contracts/zero-ex/src/features/libs/LibMultiCall.sol
  services/server/test/chains/sources/534352/contracts/zero-ex/src/features/libs/LibNFTOrder.sol
  services/server/test/chains/sources/534352/contracts/zero-ex/src/features/libs/LibSignature.sol
  services/server/test/chains/sources/534352/contracts/zero-ex/src/features/libs/LibStructure.sol
  services/server/test/chains/sources/534352/contracts/zero-ex/src/features/libs/LibTypeHash.sol
  services/server/test/chains/sources/534352/contracts/zero-ex/src/features/nft_orders/ERC1155OrdersFeature.sol
  services/server/test/chains/sources/534352/contracts/zero-ex/src/features/nft_orders/NFTOrders.sol
  services/server/test/chains/sources/534352/contracts/zero-ex/src/fixins/FixinEIP712.sol
  services/server/test/chains/sources/534352/contracts/zero-ex/src/fixins/FixinERC1155Spender.sol
  services/server/test/chains/sources/534352/contracts/zero-ex/src/fixins/FixinTokenSpender.sol
  services/server/test/chains/sources/534352/contracts/zero-ex/src/storage/LibCommonNftOrdersStorage.sol
  services/server/test/chains/sources/534352/contracts/zero-ex/src/storage/LibERC1155OrdersStorage.sol
  services/server/test/chains/sources/534352/contracts/zero-ex/src/storage/LibStorage.sol
  services/server/test/chains/sources/534352/contracts/zero-ex/src/vendor/IEtherToken.sol
  services/server/test/chains/sources/534352/contracts/zero-ex/src/vendor/IFeeRecipient.sol
  services/server/test/chains/sources/534352/contracts/zero-ex/src/vendor/IPropertyValidator.sol
  services/server/test/chains/sources/534352/metadata.json
Due: run-build-server

add scrollscan env key into .env.dev
  services/server/.env.dev
Due: run-build-server

chore: Add SCROLLSCAN_API_KEY to env
  services/server/.env.dev
Due: run-build-server

Add Scroll Sepolia Testnet and Scroll Mainnet (#1259)
  services/server/.env.dev
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

update: Add Kroma Sepolia Testnet and Kroma Mainnet
  services/server/.env.dev
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

update: Add ZKFair Mainnet
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

update: Add Conflux eSpace Mainnet
  services/server/.env.dev
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

update: Add Mode Testnet and Mode Mainnet
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

update: Add ZetaChain Mainnet
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

update: Add Lightlink Pegasus Testnet and Lightlink Phoenix Mainnet
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

API docs: Move non-session above, add description, remove Bearer Key
  services/server/src/openapi.yaml
Due: run-build-server

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*
