Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*

enable repositoryV2 only if repositoryPath is passed
  services/server/src/server/services/StorageService.ts
Due: run-build-server

Add fsevents to optionalDependencies
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  services/server/package.json
  ui/package.json
Due: run-build-server, run-build-packages, run-build-ui

Turn off Goerli and Sepolia ethpandaops temporarily
  services/monitor/chains.json
Due: run-build-monitor

Add CHANGELOGs
  CHANGELOG.md
  packages/bytecode-utils/CHANGELOG.md
  packages/contract-call-decoder/CHANGELOG.md
  packages/lib-sourcify/CHANGELOG.md
  services/database/CHANGELOG.md
  services/monitor/CHANGELOG.md
  services/server/CHANGELOG.md
  ui/CHANGELOG.md
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

disable repositoryV2 on master
  services/server/src/config/master.js
Due: run-build-server

output rpc error message in the logs
  packages/lib-sourcify/src/lib/SourcifyChain.ts
Due: run-build-packages

wait a few milliseconds before adding the next contract to the synchronization pool to help avoid reaching the RPC limit
  services/database/scripts.mjs
Due: none

Update server's repository API docs: ordering and descriptions
  services/server/src/openapi.yaml
  services/server/src/server/controllers/repository/check-all-by-addresses.stateless.paths.yaml
  services/server/src/server/controllers/repository/check-by-addresses.stateless.paths.yaml
  services/server/src/server/controllers/repository/get-contract-addresses-all.stateless.paths.yaml
  services/server/src/server/controllers/repository/get-file-static.stateless.paths.yaml
  services/server/src/server/controllers/repository/get-file-tree-all.stateless.paths.yaml
  services/server/src/server/controllers/repository/get-source-files-all.stateless.paths.yaml
  services/server/src/server/controllers/repository/get-source-files-full.stateless.paths.yaml
Due: run-build-server

Use a lighter hashing for session contract id creation
  services/server/src/server/controllers/verification/verification.common.ts
Due: run-build-server

fix handling repositoryV2.path as undefined
  services/server/src/server/services/services.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
Due: run-build-server

Revert "Turn off Goerli and Sepolia ethpandaops temporarily"
  services/monitor/chains.json
Due: run-build-monitor

- in the UI move etherscan api key input at the beginning of the form - add missing apiKey in the etherscan's openapi session schema
  services/server/src/server/controllers/verification/etherscan/session/etherscan.session.paths.yaml
  ui/src/pages/Verifier/EtherscanInput.tsx
Due: run-build-server, run-build-ui

Allow passing Etherscan API key as parameter in import from Etherscon (#1277)
  services/server/src/server/controllers/verification/etherscan/etherscan.common.ts
  services/server/src/server/controllers/verification/etherscan/session/etherscan.session.handlers.ts
  services/server/src/server/controllers/verification/etherscan/session/etherscan.session.paths.yaml
  services/server/src/server/controllers/verification/etherscan/stateless/etherscan.stateless.handlers.ts
  services/server/src/server/controllers/verification/etherscan/stateless/etherscan.stateless.paths.yaml
  services/server/test/etherscan.js
  ui/src/pages/Verifier/EtherscanInput.tsx
Due: run-build-server, run-build-ui

Fix fsevents platform, make monitor Dockerfiles similar to server
  package.json
  packages/bytecode-utils/package.json
  services/monitor/Dockerfile
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

hot fix checkAllByChainAndAddress was calling checkByChainAndAddress
  services/server/src/server/services/StorageService.ts
Due: run-build-server

update changelogs
  CHANGELOG.md
  packages/bytecode-utils/CHANGELOG.md
  packages/contract-call-decoder/CHANGELOG.md
  packages/lib-sourcify/CHANGELOG.md
  services/database/CHANGELOG.md
  services/monitor/CHANGELOG.md
  services/server/CHANGELOG.md
  ui/CHANGELOG.md
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

chore(release): publish
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/contract-call-decoder/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

In the chain-tests throw if there are missing etherscanInstanceContracts for testedChains with support for etherscanAPI - add all missing etherscanInstanceContracts
  services/server/test/chains/chain-tests.js
  services/server/test/helpers/etherscanInstanceContracts.json
Due: run-build-server

add log for stored contract on the AllianceDatabase
  services/server/src/server/services/storageServices/AllianceDatabaseService.ts
Due: run-build-server

Turn on ethpandaops for Goerli and Sepolia
  services/monitor/chains.json
Due: run-build-monitor

Revert "Turn on ethpandaops for Goerli and Sepolia"
  services/monitor/chains.json
Due: run-build-monitor

Update test contract address for Arthera Testnet
  services/server/test/chains/chain-tests.js
Due: run-build-server

feat: fraxtal mainnet and testnet
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
  services/server/test/chains/sources/252/Storage.sol
  services/server/test/chains/sources/252/metadata.json
Due: run-build-server

add env variable for DOCKER_HOST_POSTGRES_TEST_PORT to `node-v16` CI
  .circleci/new_branch.yml
Due: none

Oasis chains: Use new explorer URLs
  services/server/src/sourcify-chains-default.json
Due: run-build-server

update address for chain 534352 with standard-json
  services/server/test/helpers/etherscanInstanceContracts.json
Due: run-build-server

fix repository key name in local-test.js
  services/server/src/config/local-test.js
Due: run-build-server

Update test contract address for Arthera Testnet (#1280)
  services/server/test/chains/chain-tests.js
Due: run-build-server

add missing env variable for continue_config CircleCI settings
  .circleci/continue_config.yml
Due: none

increase session api tests timeout
  services/server/test/server.js
Due: run-build-server

test(etherscan): partial result for helpers
  services/server/.env.dev
  services/server/test/helpers/etherscanInstanceContracts.json
Due: run-build-server

fix library transformation, use bytea instead of string for bytea database fields, normalize library transformation before storing to the database
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/verification.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server, run-build-packages

fix indent error by disabling indent for that line
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
Due: run-build-server

update docker image (to be deprecated)
  .circleci/config.yml
  .circleci/continue_config.yml
  services/monitor/chains.json
Due: run-build-monitor

start implementation of verifier-alliance tests
  packages/lib-sourcify/src/lib/verification.ts
  services/server/test/server.js
  services/server/test/verifier-alliance/constructor_arguments.json
  services/server/test/verifier-alliance/full_match.json
  services/server/test/verifier-alliance/genesis.json
  services/server/test/verifier-alliance/immutables.json
  services/server/test/verifier-alliance/libraries_linked_by_compiler.json
  services/server/test/verifier-alliance/libraries_manually_linked.json
  services/server/test/verifier-alliance/metadata_hash_absent.json
  services/server/test/verifier-alliance/partial_match.json
  services/server/test/verifier-alliance/partial_match_2.json
  services/server/test/verifier-alliance/partial_match_double_auxdata.json
Due: run-build-server, run-build-packages

Implement tests for the verifier alliance
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/verification.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/test/helpers/verifierAlliance.js
  services/server/test/server.js
  services/server/test/verifier-alliance/full_match.json
  services/server/test/verifier-alliance/immutables.json
  services/server/test/verifier-alliance/libraries_linked_by_compiler.json
  services/server/test/verifier-alliance/libraries_manually_linked.json
  services/server/test/verifier-alliance/metadata_hash_absent.json
  services/server/test/verifier-alliance/partial_match.json
Due: run-build-server, run-build-packages

fix lib-sourcify tests
  packages/lib-sourcify/src/lib/verification.ts
Due: run-build-packages

support creation bytecode tests for alliance
  packages/lib-sourcify/src/lib/verification.ts
  services/server/test/helpers/verifierAlliance.js
  services/server/test/verifier-alliance/libraries_manually_linked.json
Due: run-build-server, run-build-packages

Bug/fixed issue 1271 files stored with incorrect runtime match (#1276)
  services/server/src/server/controllers/verification/solc-json/stateless/solc-json.stateless.handlers.ts
  services/server/src/server/controllers/verification/verification.common.ts
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
Due: run-build-server

add "construcor arguments" verifier alliance's test
  packages/lib-sourcify/src/lib/verification.ts
  services/server/test/helpers/verifierAlliance.js
  services/server/test/server.js
  services/server/test/verifier-alliance/constructor_arguments.json
Due: run-build-server, run-build-packages
