Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*

Middlewares can access req.params.* only after routes are defined - move address checksum after defining the routes
  services/server/src/server/controllers/controllers.common.ts
  services/server/src/server/server.ts
  services/server/test/integration/repository-handlers/files.spec.ts
Due: run-build-server

Exclude test files from coverage in monitor
  services/monitor/package.json
Due: run-build-monitor

Update multicall3.metadata.json
  services/server/test/chains/sources/11227/multicall3.metadata.json
Due: run-build-server

Update chain-tests.spec.ts
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Delete services/server/test/sources/contracts/Multicall3.sol
  services/server/test/sources/contracts/Multicall3.sol
Due: run-build-server

Delete services/server/test/chains/sources/8227/multicall3.metadata.json
  services/server/test/chains/sources/8227/multicall3.metadata.json
Due: run-build-server

Delete services/server/test/chains/sources/8227/Multicall3.sol
  services/server/test/chains/sources/8227/Multicall3.sol
Due: run-build-server

Delete services/server/test/chains/sources/48795/multicall3.metadata.json
  services/server/test/chains/sources/48795/multicall3.metadata.json
Due: run-build-server

Delete services/server/test/chains/sources/48795/Multicall3.sol
  services/server/test/chains/sources/48795/Multicall3.sol
Due: run-build-server

Add examples how to run Docker builds
  services/monitor/Dockerfile
  services/monitor/README.md
  services/server/Dockerfile
  services/server/README.md
Due: run-build-monitor, run-build-server

Use node v22 and run `npm update`
  .nvmrc
  package-lock.json
Due: none

Use native fetch instead of node-fetch in all packages
  package-lock.json
  packages/lib-sourcify/package.json
  scripts/verify-massively.mjs
  serverless/compiler-lambda/index.js
  serverless/compiler-lambda/package-lock.json
  serverless/compiler-lambda/package.json
  services/database/package.json
  services/database/scripts.mjs
  services/monitor/package.json
  services/monitor/src/GatewayFetcher.ts
  services/monitor/src/PendingContract.ts
  services/server/package.json
  services/server/src/server/controllers/verification/verification.common.ts
  services/server/src/server/services/utils/contract-creation-util.ts
  services/server/test/integration/etherscan.spec.ts
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

Upgrade lerna to latest version
  .gitignore
  package-lock.json
  package.json
Due: none

Fix bytecode hash calculation
  packages/lib-sourcify/src/lib/SourcifyChain.ts
  packages/lib-sourcify/src/lib/verification.ts
  services/database/scripts.mjs
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/services.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/test/helpers/helpers.ts
  services/server/test/integration/database.spec.ts
Due: run-build-server, run-build-packages

Add api explanation
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.paths.yaml
Due: run-build-server

Fix `chosenContract` description in multipart/form-data
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.paths.yaml
Due: run-build-server

move config out of StorageServices
  services/server/src/config/default.js
  services/server/src/config/local-test.js
  services/server/src/server/server.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/AllianceDatabaseService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/storageServices/identifiers.ts
  services/server/test/helpers/ServerFixture.ts
Due: run-build-server

add tests for both SurcifyDatabase and RepositoryV1
  services/server/src/server/controllers/repository/repository.handlers.ts
  services/server/src/server/controllers/repository/repository.routes.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/test/helpers/ServerFixture.ts
  services/server/test/integration/repository-handlers/files.spec.ts
Due: run-build-server

Rever chosenContract type to string
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.paths.yaml
Due: run-build-server

fix type consistency for getFile()
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
Due: run-build-server

Fix Monitor Tests in launch.json
  .vscode/launch.json
  services/monitor/test/hardhat-network-helper.ts
Due: run-build-monitor

Add comments in code
  services/server/src/config/default.js
  services/server/src/server/server.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
Due: run-build-server

fixes from PR review
  services/server/src/server/server.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/AllianceDatabaseService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
Due: run-build-server

implement performServiceOperation to dynamically call StorageServices methods
  services/server/src/server/controllers/repository/repository.handlers.ts
  services/server/src/server/controllers/repository/repository.routes.ts
  services/server/src/server/controllers/verification/verification.common.ts
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/AllianceDatabaseService.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
Due: run-build-server

convert test helpers to typescript
  services/monitor/test/hardhat-network-helper.js
  services/monitor/test/helpers.ts
Due: run-build-monitor

resolve monitor test only when nock interceptor replied
  services/monitor/test/Monitor.spec.ts
Due: run-build-monitor

Split the StorageServices into Write and ReadWrite
  services/server/src/config/default.js
  services/server/src/config/local-test.js
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/AllianceDatabaseService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/storageServices/identifiers.ts
  services/server/test/helpers/ServerFixture.ts
  services/server/test/integration/repository-handlers/files.spec.ts
Due: run-build-server

remove storageService from WStorageService
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/AllianceDatabaseService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
Due: run-build-server

- optional getPaginatedContracts - make all sync call async in RepoV1,V2
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/AllianceDatabaseService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/utils/util.ts
  services/server/src/server/types.ts
Due: run-build-server

tests
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

verify on darwinia network
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

add darwinia network
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Upgrade all dependencies
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Run prettier on bytecode-utils
  packages/bytecode-utils/src/lib/bytecode.ts
Due: run-build-packages

Use Chai v4 as it dropped support for common.js modules
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Fix coverage scripts in contract-call-decoder
  packages/contract-call-decoder/package.json
Due: run-build-packages

Run prettier on lib-sourcify
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/ISolidityCompiler.ts
  packages/lib-sourcify/src/lib/SourcifyChain.ts
  packages/lib-sourcify/src/lib/hashFunctions/ipfsHash.ts
  packages/lib-sourcify/src/lib/hashFunctions/swarmHash.ts
  packages/lib-sourcify/src/lib/types.ts
  packages/lib-sourcify/src/lib/utils.ts
  packages/lib-sourcify/src/lib/validation.ts
  packages/lib-sourcify/src/lib/verification.ts
Due: run-build-packages

Remove isomorphic-fetch
  package-lock.json
  packages/contract-call-decoder/package.json
  packages/contract-call-decoder/src/lib/ContractCallDecoder.ts
  packages/lib-sourcify/package.json
  packages/lib-sourcify/src/lib/utils.ts
  packages/lib-sourcify/test/compiler/solidityCompiler.ts
  services/server/src/server/services/compiler/local/solidityCompiler.ts
Due: run-build-server, run-build-packages

Remove unused npm scripts
  packages/bytecode-utils/package.json
  packages/contract-call-decoder/package.json
  packages/lib-sourcify/package.json
Due: run-build-packages
