Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*

Lists taraxa testnet and mainnet (#1456)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Add renovate.json
  renovate.json
Due: none

Enable lambda in migration
  services/server/src/config/migration.js
Due: run-build-server

Group patch and minor dependency updates
  renovate.json
Due: none

Run renovate daily and enable config migrations
  renovate.json
Due: none

Turn off lambda for migration config
  services/server/src/config/migration.js
Due: run-build-server

Only apply major updates after approval
  renovate.json
Due: none

Fix major update approval configuration
  renovate.json
Due: none

chore: Configure Renovate (#1457)
  renovate.json
Due: none

fix sourcify down migration
  services/database/migrations/20231109160023-sourcify.js
Due: none

fix(deps): pin dependencies
  .circleci/config.yml
  .nvmrc
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  serverless/compiler-lambda/package-lock.json
  serverless/compiler-lambda/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

fix(deps): pin dependencies (#1460)
  .circleci/config.yml
  .nvmrc
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  serverless/compiler-lambda/package-lock.json
  serverless/compiler-lambda/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

chore(deps): replace dependency npm-run-all with npm-run-all2 5.0.0
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/server/package.json
Due: run-build-server, run-build-packages

chore(deps): replace dependency npm-run-all with npm-run-all2 5.0.0 (#1459)
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/server/package.json
Due: run-build-server, run-build-packages

fix(deps): update all minor dependencies
  .circleci/config.yml
  .circleci/continue_config.yml
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/Dockerfile
  services/monitor/package.json
  services/server/Dockerfile
  services/server/Dockerfile.debug
  services/server/package.json
  ui/Dockerfile
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

Add Alchemy backup RPC to Holesky (17000)
  services/server/src/sourcify-chains-default.json
Due: run-build-server

fix(deps): update all minor dependencies (#1461)
  .circleci/config.yml
  .circleci/continue_config.yml
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/Dockerfile
  services/monitor/package.json
  services/server/Dockerfile
  services/server/Dockerfile.debug
  services/server/package.json
  ui/Dockerfile
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

Exp. Backoff instead of a single Timeout in fetch attempts
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/utils.ts
  packages/lib-sourcify/test/compiler/solidityCompiler.ts
  serverless/compiler-lambda/index.js
  services/server/.env.test
  services/server/src/server/services/compiler/local/solidityCompiler.ts
Due: run-build-server, run-build-packages

Refactor init StorageService code
  services/server/src/server/services/StorageService.ts
Due: run-build-server

Init VerificationService to download all compilers, fetchWithBackoff instead of Timeout
  services/server/src/config/default.js
  services/server/src/config/migration.js
  services/server/src/server/controllers/verification/verification.common.ts
  services/server/src/server/server.ts
  services/server/src/server/services/VerificationService.ts
  services/server/src/server/services/compiler/local/solidityCompiler.ts
  services/server/src/server/services/services.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
Due: run-build-server

Fix CheckedContraact.performFetch not returning null on throwing
  packages/lib-sourcify/src/lib/CheckedContract.ts
Due: run-build-packages

Fix old Server constructor in ServerFixture
  services/server/src/server/services/VerificationService.ts
  services/server/test/helpers/ServerFixture.ts
Due: run-build-server

chore(deps): update all patch dependencies
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  serverless/compiler-lambda/package-lock.json
  serverless/compiler-lambda/package.json
  services/monitor/package.json
  services/server/package.json
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

Update repository and compilers directories
  services/server/src/config/migration.js
Due: run-build-server

chore(deps): update all patch dependencies (#1464)
  package-lock.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  serverless/compiler-lambda/package-lock.json
  serverless/compiler-lambda/package.json
  services/monitor/package.json
  services/server/package.json
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

Add test for VerificationService.init()
  services/server/test/unit/VerificationService.spec.ts
Due: run-build-server

Add log
  services/server/src/server/services/VerificationService.ts
Due: run-build-server

Init compilers (#1462)
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/utils.ts
  packages/lib-sourcify/test/compiler/solidityCompiler.ts
  serverless/compiler-lambda/index.js
  services/server/.env.test
  services/server/src/config/default.js
  services/server/src/config/migration.js
  services/server/src/server/controllers/verification/verification.common.ts
  services/server/src/server/server.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/VerificationService.ts
  services/server/src/server/services/compiler/local/solidityCompiler.ts
  services/server/src/server/services/services.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/test/helpers/ServerFixture.ts
Due: run-build-server, run-build-packages

chore(deps): update all patch dependencies
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

chore(deps): update node.js to v22.4.0
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/new_branch.yml
  .circleci/nightly.yml
  .circleci/test-chains-regularly.yml
Due: none

chore(deps): update node.js to v22.4.0 (#1467)
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/new_branch.yml
  .circleci/nightly.yml
  .circleci/test-chains-regularly.yml
Due: none

chore(deps): update all patch dependencies (#1466)
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

update database following the new verifier alliance schema - add `metadata_match` - remove cborAuxdataPositions from artifacts
  packages/lib-sourcify/src/lib/types.ts
  services/database/migrations/20240710103541-add-metadata_match.js
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/types.ts
  services/server/test/integration/database.spec.ts
  services/server/test/verifier-alliance/constructor_arguments.json
  services/server/test/verifier-alliance/full_match.json
  services/server/test/verifier-alliance/immutables.json
  services/server/test/verifier-alliance/libraries_linked_by_compiler.json
  services/server/test/verifier-alliance/libraries_manually_linked.json
  services/server/test/verifier-alliance/metadata_hash_absent.json
  services/server/test/verifier-alliance/partial_match.json
  services/server/test/verifier-alliance/partial_match_double_auxdata.json
Due: run-build-server, run-build-packages

fix(deps): update dependency @aws-sdk/client-lambda to v3.614.0
  package-lock.json
  services/server/package.json
Due: run-build-server

Fix broken json due conflict resolvement
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Remove obsolete rpc field
  services/server/src/sourcify-chains-default.json
Due: run-build-server

fix(deps): update dependency @aws-sdk/client-lambda to v3.614.0 (#1471)
  package-lock.json
  services/server/package.json
Due: run-build-server

Update chains.json
  services/server/src/chains.json
Due: run-build-server

Update nock version, remove 0.1.1 from mocked versions.
  .vscode/launch.json
  package-lock.json
  services/monitor/package.json
  services/server/package.json
  services/server/src/server/services/VerificationService.ts
  services/server/test/unit/VerificationService.spec.ts
Due: run-build-monitor, run-build-server
