Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Turn off Klaytn (8217)
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Turn off Taiko testnets (167005) (167006)
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Allow directory in chain-test func. Update files
  services/server/test/chains/chain-tests.js
  services/server/test/chains/sources/57/TestToken.json
  services/server/test/chains/sources/57/metadata.json
  services/server/test/chains/sources/57/sources/@openzeppelin/contracts/access/Ownable.sol
  services/server/test/chains/sources/57/sources/@openzeppelin/contracts/token/ERC20/ERC20.sol
  services/server/test/chains/sources/57/sources/@openzeppelin/contracts/token/ERC20/IERC20.sol
  services/server/test/chains/sources/57/sources/@openzeppelin/contracts/token/ERC20/extensions/ERC20Burnable.sol
  services/server/test/chains/sources/57/sources/@openzeppelin/contracts/token/ERC20/extensions/IERC20Metadata.sol
  services/server/test/chains/sources/57/sources/@openzeppelin/contracts/utils/Context.sol
  services/server/test/chains/sources/57/sources/project:/contracts/Token.sol
  services/server/test/chains/sources/6119/metadata.json
  services/server/test/chains/sources/6119/sources/@opengsn/contracts/src/ERC2771Recipient.sol
  services/server/test/chains/sources/6119/sources/@opengsn/contracts/src/interfaces/IERC2771Recipient.sol
  services/server/test/chains/sources/6119/sources/@openzeppelin/contracts/access/AccessControl.sol
  services/server/test/chains/sources/6119/sources/@openzeppelin/contracts/access/IAccessControl.sol
  services/server/test/chains/sources/6119/sources/@openzeppelin/contracts/interfaces/IERC165.sol
  services/server/test/chains/sources/6119/sources/@openzeppelin/contracts/interfaces/IERC4906.sol
  services/server/test/chains/sources/6119/sources/@openzeppelin/contracts/interfaces/IERC721.sol
  services/server/test/chains/sources/6119/sources/@openzeppelin/contracts/security/Pausable.sol
  services/server/test/chains/sources/6119/sources/@openzeppelin/contracts/token/ERC721/ERC721.sol
  services/server/test/chains/sources/6119/sources/@openzeppelin/contracts/token/ERC721/IERC721.sol
  services/server/test/chains/sources/6119/sources/@openzeppelin/contracts/token/ERC721/IERC721Receiver.sol
  services/server/test/chains/sources/6119/sources/@openzeppelin/contracts/token/ERC721/extensions/ERC721Enumerable.sol
  services/server/test/chains/sources/6119/sources/@openzeppelin/contracts/token/ERC721/extensions/ERC721URIStorage.sol
  services/server/test/chains/sources/6119/sources/@openzeppelin/contracts/token/ERC721/extensions/IERC721Enumerable.sol
  services/server/test/chains/sources/6119/sources/@openzeppelin/contracts/token/ERC721/extensions/IERC721Metadata.sol
  services/server/test/chains/sources/6119/sources/@openzeppelin/contracts/utils/Address.sol
  services/server/test/chains/sources/6119/sources/@openzeppelin/contracts/utils/Context.sol
  services/server/test/chains/sources/6119/sources/@openzeppelin/contracts/utils/Counters.sol
  services/server/test/chains/sources/6119/sources/@openzeppelin/contracts/utils/Strings.sol
  services/server/test/chains/sources/6119/sources/@openzeppelin/contracts/utils/introspection/ERC165.sol
  services/server/test/chains/sources/6119/sources/@openzeppelin/contracts/utils/introspection/IERC165.sol
  services/server/test/chains/sources/6119/sources/@openzeppelin/contracts/utils/math/Math.sol
  services/server/test/chains/sources/6119/sources/@openzeppelin/contracts/utils/math/SignedMath.sol
  services/server/test/chains/sources/6119/sources/contracts/ERC4906.sol
  services/server/test/chains/sources/6119/sources/contracts/IUPTNAddressValidator.sol
  services/server/test/chains/sources/6119/sources/contracts/UptnNFTsV1.sol
Due: run-build-server

Remove unused test artifacts
  services/server/test/chains/chain-tests.js
  services/server/test/chains/sources/shared/artifacts/Storage.json
  services/server/test/chains/sources/shared/artifacts/Storage_metadata.json
  services/server/test/chains/sources/shared/artifacts/WithImmutables.json
  services/server/test/chains/sources/shared/artifacts/WithImmutables_metadata.json
  services/server/test/chains/sources/shared/artifacts/build-info/0a0a7ee2fe98c1f913c327b062f80f6c.json
  services/server/test/chains/sources/shared/artifacts/build-info/fc7b0e84998147f0f5e280a2fd105a47.json
Due: run-build-server

Turn off arm64 builds
  .circleci/continue_config.yml
Due: none

Fix CI config
  .circleci/continue_config.yml
Due: none

Turn off arm64 builds
  .circleci/scripts/build_and_publish_docker_images.sh
Due: none

Add config rateLimit window and count, incr. limits
  services/server/src/config/master.js
  services/server/src/server/server.ts
Due: run-build-server

Add Changelogs
  CHANGELOG.md
  packages/bytecode-utils/CHANGELOG.md
  packages/contract-call-decoder/CHANGELOG.md
  packages/lib-sourcify/CHANGELOG.md
  services/monitor/CHANGELOG.md
  services/server/CHANGELOG.md
Due: run-build-monitor, run-build-server, run-build-packages

chore(release): publish
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/contract-call-decoder/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Fix wrong contract-call-decoder version in CHANGELOG
  packages/contract-call-decoder/CHANGELOG.md
Due: run-build-packages

update the storeMatch function to be async and await inside try to catch the errors
  services/server/src/server/services/StorageService.ts
Due: run-build-server

Add chain 10242 (Arthera Mainnet)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

Rename `generateArtifacts` and `CompiledContractArtifactsCborAuxdata`
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/types.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server, run-build-packages

update error messages
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/test/server.js
Due: run-build-server

Try multi platform build with arm.medium resource_class
  .circleci/continue_config.yml
Due: none

Assign resource classes to jobs
  .circleci/continue_config.yml
Due: none

Don't install build if not a new chain in test-new-chain
  .circleci/continue_config.yml
  .circleci/scripts/test_new_chain_support.sh
Due: none

Checkout before running the test_new_chain script
  .circleci/continue_config.yml
Due: none

log double checking metadata hash before storing
  packages/lib-sourcify/src/lib/CheckedContract.ts
Due: run-build-packages

update config repov2 path for master and staging
  services/server/src/config/master.js
  services/server/src/config/staging.js
Due: run-build-server

comment init function in storageservice, make storeMatch run in parallel
  services/server/src/server/services/StorageService.ts
Due: run-build-server

make fetchFromStorage async
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
Due: run-build-server

Publish multiarch images into single manifest
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/scripts/build_and_publish_docker_images.sh
  .circleci/scripts/publish_multiarch_images.sh
  .circleci/scripts/trigger_deploy.sh
Due: none

remove repositoryVersion
  services/server/src/server/services/services.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/types.ts
  services/server/test/StorageService.test.js
Due: run-build-server

Make multuarch script executable
  .circleci/scripts/build_and_publish_docker_images.sh
  .circleci/scripts/publish_multiarch_images.sh
Due: none

clean repoV2 service
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/utils/repository-util.ts
Due: run-build-server

Fix image sha and deploy triggers
  .circleci/scripts/build_and_publish_docker_images.sh
  .circleci/scripts/trigger_deploy.sh
Due: none

Fix sha part not being extracted
  .circleci/scripts/build_and_publish_docker_images.sh
Due: none

clear the `DatabaseColumns` type
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

Fix staging rate limit
  .circleci/scripts/build_and_publish_docker_images.sh
  services/server/src/config/staging.js
Due: run-build-server

disable IPFS mfs for repoV1 and remove it for repoV2
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
Due: run-build-server

remove addtoIPFSmfs function for repov2
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
Due: run-build-server

add initial Sourcify Database's readme
  services/database/README.md
  services/database/package.json
Due: none

Add Changelogs
  CHANGELOG.md
  services/server/CHANGELOG.md
Due: run-build-server

chore(release): publish
  package-lock.json
  package.json
  services/server/package.json
Due: run-build-server

Fix config.yml docker version for arm
  .circleci/config.yml
Due: none

Remove node dependencies
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/SourcifyChain.ts
  packages/lib-sourcify/src/lib/logger.ts
  packages/lib-sourcify/src/lib/validation.ts
  packages/lib-sourcify/test/compiler/logger.ts
  packages/lib-sourcify/test/validation.spec.ts
Due: run-build-packages

Bundle browser
  package-lock.json
  package.json
  packages/lib-sourcify/package.json
  packages/lib-sourcify/webpack.config.js
Due: run-build-packages

Update chains.json
  services/server/src/chains.json
Due: run-build-server

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*
