Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Dynamic log level server for Monitor
  services/monitor/.env.template
  services/monitor/src/Monitor.ts
  services/monitor/src/index.ts
  services/monitor/src/logger.ts
  services/monitor/src/loggerServer.ts
  services/server/src/common/logger.ts
Due: run-build-monitor, run-build-server

Change logger metadata separator, change requestId lineLogger color
  services/monitor/src/logger.ts
  services/server/src/common/logger.ts
Due: run-build-monitor, run-build-server

Added logging to lib-sourcify
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/logger.ts
  packages/lib-sourcify/src/lib/validation.ts
  packages/lib-sourcify/src/lib/verification.ts
Due: run-build-packages

Export the logger as default in logger.ts
  services/server/src/common/logger.ts
  services/server/src/server/controllers/controllers.common.ts
  services/server/src/server/controllers/repository/repository.handlers.ts
  services/server/src/server/controllers/verification/etherscan/etherscan.common.ts
  services/server/src/server/controllers/verification/etherscan/session/etherscan.session.handlers.ts
  services/server/src/server/controllers/verification/etherscan/stateless/etherscan.stateless.handlers.ts
  services/server/src/server/controllers/verification/session-state/session-state.handlers.ts
  services/server/src/server/controllers/verification/verification.common.ts
  services/server/src/server/controllers/verification/verify/session/verify.session.handlers.ts
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
  services/server/src/server/server.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/VerificationService.ts
  services/server/src/server/services/compiler/local/solidityCompiler.ts
  services/server/src/server/services/storageServices/AllianceDatabaseService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/contract-creation-util.ts
  services/server/src/sourcify-chains.ts
Due: run-build-server

Log compilations in lib-sourcify
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/SourcifyChain.ts
Due: run-build-packages

Modify where and what to log
  services/server/src/server/controllers/controllers.common.ts
  services/server/src/server/controllers/verification/etherscan/etherscan.common.ts
  services/server/src/server/controllers/verification/etherscan/session/etherscan.session.handlers.ts
  services/server/src/server/controllers/verification/etherscan/stateless/etherscan.stateless.handlers.ts
  services/server/src/server/routes.ts
  services/server/src/server/server.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/VerificationService.ts
  services/server/src/server/services/compiler/lambda/SolcLambda.ts
  services/server/src/server/services/compiler/local/solidityCompiler.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

Revert exit 1 in text_new_chain_support.sh
  .circleci/scripts/test_new_chain_support.sh
Due: none

Fix for PR comments
  packages/lib-sourcify/src/lib/logger.ts
  services/server/src/server/services/compiler/lambda/SolcLambda.ts
  services/server/src/server/services/utils/contract-creation-util.ts
Due: run-build-server, run-build-packages

Fix changed status code in Etherscan test
  services/server/test/etherscan.js
Due: run-build-server

Enable database in tests and fix updating matches
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/test/chains/chain-tests.js
  services/server/test/etherscan.js
  services/server/test/helpers/assertions.js
  services/server/test/helpers/helpers.js
  services/server/test/server.js
Due: run-build-server

skip database tests if storageService not passed in `assertContractSaved`
  services/server/test/helpers/assertions.js
Due: run-build-server

fix CircleCI tests
  services/server/test/etherscan.js
  services/server/test/helpers/assertions.js
Due: run-build-server

test circleCI database fix
  services/server/test/chains/chain-tests.js
Due: run-build-server

test fix database in CircleCI tests
  .circleci/new_branch.yml
Due: none

enable sourcify database in staging and prod node-16 tests
  .circleci/continue_config.yml
Due: none

Fix typo
  packages/lib-sourcify/test/compiler/solidityCompiler.ts
Due: run-build-packages

Remove emoji from logs
  services/server/src/server/services/utils/contract-creation-util.ts
Due: run-build-server

Fix typo
  packages/lib-sourcify/src/lib/verification.ts
Due: run-build-packages

Add postgres connection environment variables into .env.dev
  services/server/.env.dev
Due: run-build-server

Fix normalizeRecompiledBytecodes by initializing normalizedRuntimeBytecode on CheckedContract before normalizing
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

Add documentation for montior dynamic log level setting
  services/monitor/.env.template
  services/monitor/README.md
  services/monitor/src/loggerServer.ts
  services/server/.env.dev
Due: run-build-monitor, run-build-server

Fix \n sanitization, add test
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/test/server.js
  services/server/test/testcontracts/path-sanitization-new-line/artifact.json
  services/server/test/testcontracts/path-sanitization-new-line/metadata.json
  services/server/test/testcontracts/path-sanitization-new-line/sources/DFrostGeckoToken .sol
Due: run-build-server

Add Verifier Alliance postgres connection environment variables into .env.dev
  services/server/.env.dev
Due: run-build-server

fix "should sanitize the path of a source file with new line character \\n" test by passing `storageService` to `assertVerification`
  services/server/test/server.js
Due: run-build-server

Enable database in tests and fix updating matches (#1310)
  .circleci/continue_config.yml
  .circleci/new_branch.yml
  services/server/.env.dev
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/test/chains/chain-tests.js
  services/server/test/etherscan.js
  services/server/test/helpers/assertions.js
  services/server/test/helpers/helpers.js
  services/server/test/server.js
Due: run-build-server

Fix typos (#1306)
  CHANGELOG.md
  packages/bytecode-utils/CHANGELOG.md
  packages/lib-sourcify/test/compiler/solidityCompiler.ts
  packages/lib-sourcify/test/sources/StorageModified/sources/StorageModified.sol
  packages/lib-sourcify/test/verification.spec.ts
  services/monitor/README.md
  services/server/test/testcontracts/Storage/StorageModified.sol
  ui/README.md
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

add-chain-13381 (#1309)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

Update chains.json
  services/server/src/chains.json
Due: run-build-server

Fix Fraxnet test metadata and linting
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
  services/server/test/chains/sources/252/metadata.json
Due: run-build-server

feat: fraxtal mainnet and testnet (#1281)
  services/server/.env.dev
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
  services/server/test/chains/sources/252/Storage.sol
  services/server/test/chains/sources/252/metadata.json
  services/server/test/helpers/etherscanInstanceContracts.json
Due: run-build-server

Add changelogs
  CHANGELOG.md
  packages/bytecode-utils/CHANGELOG.md
  packages/contract-call-decoder/CHANGELOG.md
  packages/lib-sourcify/CHANGELOG.md
  services/monitor/CHANGELOG.md
  services/server/CHANGELOG.md
Due: run-build-monitor, run-build-server, run-build-packages

chore(release): publish
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/contract-call-decoder/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

add-chain-202401
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

add-chain-202401 (#1315)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

Add logs
  services/server/src/server/controllers/controllers.common.ts
  services/server/src/server/controllers/verification/verification.common.ts
Due: run-build-server

Stop Goerli (5) verif. support
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Handle empty error objects in logs, handle null creationMatches to the AllianceDB
  services/server/src/common/logger.ts
  services/server/src/server/services/StorageService.ts
Due: run-build-server

add custom error message for session time out issue in Verifier component
  ui/src/pages/Verifier/index.tsx
Due: run-build-ui

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*
