Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Remove outFiles from Mocha TypeScript tests in launch.json
  .vscode/launch.json
Due: none

Use Sourcify database as default StorageService
  services/server/src/server/controllers/repository/get-contract-addresses-all.stateless.paths.yaml
  services/server/src/server/controllers/repository/repository.handlers.ts
  services/server/src/server/controllers/repository/repository.routes.ts
  services/server/src/server/server.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/services/utils/repository-util.ts
  services/server/src/server/services/utils/util.ts
  services/server/src/server/types.ts
  services/server/test/server.spec.ts
Due: run-build-server

Fix for Etherscan Vyper contracts
  services/server/src/server/controllers/verification/etherscan/etherscan.common.ts
Due: run-build-server

Don't log error when partial match already exists
  services/server/src/server/services/StorageService.ts
Due: run-build-server

Fix how getTree and getContent handle MatchLevel and add comments
  services/server/src/server/controllers/repository/repository.routes.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
Due: run-build-server

enable repositoryV2 in CI tests
  services/server/src/config/local-test.js
Due: run-build-server

select only the needed columns in `getSourcifyMatchByChainAddress`
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

Implement paginated contracts APIs
  services/server/src/openapi.yaml
  services/server/src/server/controllers/repository/get-contract-addresses-all.stateless.paths.yaml
  services/server/src/server/controllers/repository/get-contract-addresses-paginated-all.stateless.paths copy.yaml
  services/server/src/server/controllers/repository/get-contract-addresses-paginated-full.stateless.paths.yaml
  services/server/src/server/controllers/repository/repository.handlers.ts
  services/server/src/server/controllers/repository/repository.routes.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/types.ts
Due: run-build-server

fix routes file name for paginated-all
  services/server/src/server/controllers/repository/get-contract-addresses-paginated-all.stateless.paths.yaml
Due: run-build-server

add test for paginated APIs
  services/server/src/server/controllers/repository/get-contract-addresses-paginated-all.stateless.paths.yaml
  services/server/src/server/controllers/repository/get-contract-addresses-paginated-full.stateless.paths.yaml
  services/server/src/server/controllers/repository/repository.handlers.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/test/server.spec.ts
Due: run-build-server

bitlayer testnet and mainnet
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Add New Chains Bitlayer 200901,200810 (#1391)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

remove old release.sh script
  scripts/release.sh
Due: none

update execute permission for release script
  scripts/release/main.sh
Due: none

add redstone and garnet chains
  services/server/src/sourcify-chains-default.json
Due: run-build-server

improve pagination test
  services/server/test/server.spec.ts
Due: run-build-server

enable by default Database and Repository for storeMatch
  services/server/src/server/services/StorageService.ts
  services/server/test/server.spec.ts
Due: run-build-server

add merging locally to script
  scripts/release/main.sh
Due: none

Update changelogs
  CHANGELOG.md
  packages/contract-call-decoder/CHANGELOG.md
  packages/lib-sourcify/CHANGELOG.md
  services/database/CHANGELOG.md
  services/monitor/CHANGELOG.md
  services/server/CHANGELOG.md
  ui/CHANGELOG.md
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

chore(release): publish
  package-lock.json
  package.json
  packages/contract-call-decoder/package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

add tests
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Update services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
Due: run-build-server

Update services/server/src/server/controllers/repository/get-contract-addresses-all.stateless.paths.yaml
  services/server/src/server/controllers/repository/get-contract-addresses-all.stateless.paths.yaml
Due: run-build-server

document "Cannot fetch more than 200 contracts" error
  services/server/src/server/controllers/repository/get-contract-addresses-all.stateless.paths.yaml
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
Due: run-build-server

handle database error in repository api
  services/server/src/server/controllers/repository/get-contract-addresses-all.stateless.paths.yaml
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
Due: run-build-server

fix error example message in get-contract-addresses-all
  services/server/src/server/controllers/repository/get-contract-addresses-all.stateless.paths.yaml
Due: run-build-server

Add chains Redstone (690) and Garnet (17069) (#1393)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

implement sourcify->vera script
  package-lock.json
  services/verifier-alliance/.env.template
  services/verifier-alliance/README.md
  services/verifier-alliance/main.mjs
  services/verifier-alliance/package.json
Due: none

Split server test file into multiple test files
  services/server/package.json
  services/server/test/helpers/LocalChainFixture.ts
  services/server/test/helpers/ServerFixture.ts
  services/server/test/helpers/assertions.ts
  services/server/test/helpers/verifierAlliance.ts
  services/server/test/integration/database.spec.ts
  services/server/test/integration/handlers/repository.spec.ts
  services/server/test/integration/path-sanitization.spec.ts
  services/server/test/integration/repository-handlers/check-by-addresses.spec.ts
  services/server/test/integration/repository-handlers/files.spec.ts
  services/server/test/integration/status-handlers.spec.ts
  services/server/test/integration/verification-handlers/verify.session.spec.ts
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
  services/server/test/server.spec.ts
  services/server/test/unit/utils/contract-creation-util.spec.ts
Due: run-build-server

server: Separate respository handlers tests and add ServerFixture and LocalChainFixture
  services/server/.env.test
  services/server/package.json
  services/server/src/server/services/services.ts
  services/server/test/helpers/LocalChainFixture.ts
  services/server/test/helpers/ServerFixture.ts
  services/server/test/integration/handlers/repository.spec.ts
  services/server/test/server.spec.ts
Due: run-build-server

Use Sourcify database as default StorageService
  services/server/src/config/local-test.js
  services/server/src/openapi.yaml
  services/server/src/server/controllers/repository/get-contract-addresses-all.stateless.paths.yaml
  services/server/src/server/controllers/repository/get-contract-addresses-paginated-all.stateless.paths.yaml
  services/server/src/server/controllers/repository/get-contract-addresses-paginated-full.stateless.paths.yaml
  services/server/src/server/controllers/repository/repository.handlers.ts
  services/server/src/server/controllers/repository/repository.routes.ts
  services/server/src/server/server.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/services/utils/repository-util.ts
  services/server/src/server/services/utils/util.ts
  services/server/src/server/types.ts
  services/server/test/server.spec.ts
Due: run-build-server

Use ServerFixture in etherscan tests and move to integration folder
  services/server/package.json
  services/server/test/helpers/ServerFixture.ts
  services/server/test/helpers/helpers.ts
  services/server/test/integration/etherscan.spec.ts
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
  services/server/test/load-env.js
Due: run-build-server

Use ServerFixture in etherscan instances tests and move to chains folder
  services/server/package.json
  services/server/test/chains/etherscan-instances.spec.ts
Due: run-build-server

Use ServerFixture in chain-tests
  services/server/.env.test
  services/server/package.json
  services/server/test/chains/chain-tests.spec.ts
  services/server/test/chains/etherscan-instances.spec.ts
  services/server/test/helpers/ServerFixture.ts
  services/server/test/integration/database.spec.ts
  services/server/test/integration/etherscan.spec.ts
  services/server/test/integration/path-sanitization.spec.ts
  services/server/test/integration/repository-handlers/check-by-addresses.spec.ts
  services/server/test/integration/repository-handlers/files.spec.ts
  services/server/test/integration/status-handlers.spec.ts
  services/server/test/integration/verification-handlers/verify.session.spec.ts
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

fix script to continue running after first batch
  services/verifier-alliance/.gitignore
  services/verifier-alliance/main.mjs
Due: none

enable database in etherscanInstances test
  .circleci/nightly.yml
Due: none

enable RepositoryV2 by default
  services/server/src/config/default.js
Due: run-build-server

run database migration before running etherscanInstances test
  .circleci/nightly.yml
Due: none

Update chains.json
  services/server/src/chains.json
Due: run-build-server

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*
