Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Add Kroma Sepolia Testnet and Kroma Mainnet (#1261)
  services/server/.env.dev
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

fix: Add small fix after conflicts resolving
  services/server/test/chains/chain-tests.js
Due: run-build-server

reduce waiting time to fill the pool
  services/database/scripts.mjs
Due: none

exit only from sync when all the queue is empty
  services/database/scripts.mjs
Due: none

is sync: wait until all contracts in the queue are processed
  services/database/scripts.mjs
Due: none

fix repository path in server migration settings
  services/server/src/config/migration.js
Due: run-build-server

fix docker image generation
  package-lock.json
Due: none

allow sourcify database to store matches even without creationBytecode
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
Due: run-build-server

allow sourcify matches without creatorTx hash
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
Due: run-build-server

trigger staging CI
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
Due: run-build-server

update dataschema schema for final compatibility with alliance database
  services/database/migrations/20231109160022-create-alliance-schema.js
  services/database/migrations/20231109160022-create-schema.js
  services/database/migrations/20231109160023-sourcify.js
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/test/server.js
Due: run-build-server

generateCborAuxdataPositions now works even without creationBytecode
  packages/lib-sourcify/src/lib/CheckedContract.ts
Due: run-build-packages

fix generateCborAuxdataPositions when auxdata is not at the end of the creationBytecode
  packages/lib-sourcify/src/lib/CheckedContract.ts
Due: run-build-packages

Add Lightlink Pegasus Testnet and Lightlink Phoenix Mainnet (#1266)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

Add Chain: Chain_id: 7000 ZetaChain Mainnet (#1252)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

Add ZKFair Mainnet (#1262)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

fix auxdata extraction for creation bytecode
  packages/lib-sourcify/src/lib/CheckedContract.ts
Due: run-build-packages

use bigserial instead of random id for sourcify_sync, then use id to move into the list of to-be-synced contracts
  services/database/migrations/20231109160022-create-alliance-schema.js
  services/database/migrations/20231109160023-sourcify.js
  services/database/scripts.mjs
Due: none

fix script to fetch contracts in sync script
  services/database/scripts.mjs
Due: none

Remove API key
  services/server/.env.dev
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Add Conflux eSpace Mainnet (#1263)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

check if chainId is a number while importing
  services/database/scripts.mjs
Due: none

fix logs for import scripts
  services/database/scripts.mjs
Due: none

Add Mode Testnet and Mode Mainnet (#1264)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

add chains 1343 and 17172
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
  services/server/test/chains/sources/1343/multicall3.metadata.json
  services/server/test/chains/sources/17172/multicall3.metadata.json
Due: run-build-server

Accept add-chains besides add-chain as branch name in new chain tests
  .circleci/scripts/test_new_chain_support.sh
Due: none

accept partial match, and add local multicall source
  services/server/test/chains/chain-tests.js
  services/server/test/chains/sources/1343/Multicall3.sol
  services/server/test/chains/sources/17172/Multicall3.sol
Due: run-build-server

check existing contract by chain_id and address
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

Change repo path description in Dockerfile.debug
  services/server/Dockerfile.debug
Due: run-build-server

Use a lighter hashing for session contract id creation
  services/server/src/server/controllers/verification/verification.common.ts
Due: run-build-server

Enhanced error handling for non-JSON responses including response from nginx
  ui/src/pages/Verifier/index.tsx
Due: run-build-ui

fixed Chromium Browsers Display Unwanted Whitespace on toast
  ui/src/components/Toast/index.tsx
Due: run-build-ui

fix database storeMatch test
  services/server/test/chains/chain-tests.js
  services/server/test/etherscan.js
  services/server/test/server.js
Due: run-build-server

Fix goerli ethpandaops RPC
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Fix ethpandaops Goerli RPC
  services/server/src/sourcify-chains-default.json
Due: run-build-server

mock ipfs in tests with nock
  services/server/test/helpers/helpers.js
  services/server/test/mocks/ipfs/QmaFRC9ZtT7y3t9XNWCbDuMTEwKkyaQJzYFzw3NbeohSn5
  services/server/test/server.js
Due: run-build-server

Enhanced error handling for non-JSON responses including response fro… (#1273)
  ui/src/pages/Verifier/index.tsx
Due: run-build-ui

fixed Chromium Browsers Display Unwanted Whitespace on toast (#1275)
  ui/src/components/Toast/index.tsx
Due: run-build-ui

wait a few milliseconds before adding the next contract to the synchronization pool to help avoid reaching the RPC limit
  services/database/scripts.mjs
Due: none

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*
