Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Enable session only for session endpoints
  services/server/src/server/server.ts
Due: run-build-server

Revert "Enable session only for session endpoints"
  services/server/src/server/server.ts
Due: run-build-server

Enable session only for session endpoints
  services/server/src/server/controllers/verification/verification.common.ts
  services/server/src/server/server.ts
Due: run-build-server

Store session in postgresql (temporary)
  package-lock.json
  services/database/migrations/20231109160023-sourcify.js
  services/server/package.json
  services/server/src/server/server.ts
Due: run-build-server

Add Snowscan as etherscan instance to Avalanche
  services/server/.env.dev
  services/server/src/sourcify-chains-default.json
  services/server/test/helpers/etherscanInstanceContracts.json
Due: run-build-server

reduce memory stored for each session
  packages/lib-sourcify/src/lib/CheckedContract.ts
  services/server/src/server/common.ts
  services/server/src/server/controllers/verification/verification.common.ts
  services/server/src/server/server.ts
Due: run-build-server, run-build-packages

add custom error message for session time out issue in Verifier compo… (#1317)
  ui/src/pages/Verifier/index.tsx
Due: run-build-ui

Update services/database/migrations/20231109160023-sourcify.js
  services/database/migrations/20231109160023-sourcify.js
Due: none

remove `connect-pg-simple` dependency
  package-lock.json
  services/server/package.json
  services/server/src/server/server.ts
Due: run-build-server

fix sourcify migration
  services/database/migrations/20231109160023-sourcify.js
Due: none

Remove creationBytecode from the session data
  packages/lib-sourcify/src/lib/CheckedContract.ts
  services/server/src/server/controllers/verification/verification.common.ts
Due: run-build-server, run-build-packages

Remove emoji, correct env ordering
  services/server/.env.dev
  services/server/src/server/services/utils/contract-creation-util.ts
Due: run-build-server

Fix package-lock.json
  package-lock.json
Due: none

update changelogs
  CHANGELOG.md
  packages/lib-sourcify/CHANGELOG.md
  services/database/CHANGELOG.md
  services/monitor/CHANGELOG.md
  services/server/CHANGELOG.md
  ui/CHANGELOG.md
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

chore(release): publish
  package-lock.json
  package.json
  packages/lib-sourcify/package.json
  services/database/package.json
  services/monitor/package.json
  services/server/package.json
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

Fix checkAndFetchMissing failing in session API
  services/server/src/server/controllers/verification/verification.common.ts
Due: run-build-server

update changelog
  CHANGELOG.md
  services/server/CHANGELOG.md
Due: run-build-server

chore(release): publish
  package-lock.json
  package.json
  services/server/package.json
Due: run-build-server

Don't ignore server config local.js in nx (and lerna)
  services/server/.nxignore
Due: run-build-server

Neat error message on Lambda errors
  services/server/src/server/services/compiler/lambda/SolcLambda.ts
Due: run-build-server

Fix lib-sourcify tests debugging
  .vscode/launch.json
Due: none

Fix failing lib-sourcify test
  packages/lib-sourcify/test/sources/StorageModified/metadata.json
Due: run-build-packages

Fix etherscan verification tests to only test supported chains
  services/server/test/etherscan/etherscanInstances.js
  services/server/test/helpers/etherscanInstanceContracts.json
Due: run-build-server

Add etherscan instance to Avalanche Fuji Testnet
  services/server/src/sourcify-chains-default.json
  services/server/test/helpers/etherscanInstanceContracts.json
Due: run-build-server

Update chains.json
  services/server/src/chains.json
Due: run-build-server

fixe #1325 replace Base Goerli with mainnet for getCreatorTx test
  services/server/test/server.js
Due: run-build-server

Update Blockscout URL of ZetaChain
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Throw inside etherescan instances test when unsupported chain is found
  services/server/test/etherscan/etherscanInstances.js
Due: run-build-server

Fix etherscan verification tests (#1327)
  services/server/src/sourcify-chains-default.json
  services/server/test/etherscan/etherscanInstances.js
  services/server/test/helpers/etherscanInstanceContracts.json
Due: run-build-server

add tangle testnet
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

Implement postgresql based session
  package-lock.json
  services/database/migrations/20231109160023-sourcify.js
  services/server/package.json
  services/server/src/config/default.js
  services/server/src/config/master.js
  services/server/src/config/staging.js
  services/server/src/server/server.ts
  services/server/src/server/session.ts
Due: run-build-server

Adds 943 to static json
  package-lock.json
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

enable database session for tests and add test
  services/server/src/config/local-test.js
  services/server/src/server/session.ts
  services/server/test/server.js
Due: run-build-server

add-chain-80002
  package-lock.json
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

Add chain 1291
  package-lock.json
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

Fix misleading error message session middleware fail
  services/server/src/server/session.ts
Due: run-build-server

Revert package-lock.json before changing it with #1339
  package-lock.json
Due: none

add-chain-80002 (#1338)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

fix typo
  services/server/src/server/session.ts
Due: run-build-server

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*
