Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*

/repository endpoint returns exactly the match level requested
  services/server/src/server/controllers/repository/repository.handlers.ts
  services/server/src/server/controllers/repository/repository.routes.ts
  services/server/src/server/server.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/services/utils/util.ts
  services/server/src/server/types.ts
  services/server/test/helpers/LocalChainFixture.ts
  services/server/test/helpers/ServerFixture.ts
  services/server/test/integration/repository-handlers/files.spec.ts
  services/server/test/testcontracts/Storage/StorageModified.sol
Due: run-build-server

remove sourcify fixed database
  services/server/src/config/default.js
  services/server/src/server/server.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/identifiers.ts
Due: run-build-server

Remove eslint dependency from bytecode-utils
  package-lock.json
  packages/bytecode-utils/package.json
Due: run-build-packages

in tests, replace storageService with database pool
  services/server/test/helpers/ServerFixture.ts
  services/server/test/helpers/assertions.ts
  services/server/test/helpers/helpers.ts
  services/server/test/integration/database.spec.ts
  services/server/test/integration/repository-handlers/files.spec.ts
  services/server/test/integration/verification-handlers/verify.session.spec.ts
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
Due: run-build-server

Use chai-http 4.4.0
  package-lock.json
  services/server/package.json
Due: run-build-server

Use 6.7.0 of express-rate-limit
  package-lock.json
  services/server/package.json
Due: run-build-server

Fix TypeScript errors in Server
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
Due: run-build-server

Add chain 44 46 (#1444)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.spec.ts
Due: run-build-server

Use chalk v4.1.2
  package-lock.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server

Refactor the error log from storageService.performServiceOperation
  services/server/src/server/controllers/repository/repository.handlers.ts
  services/server/src/server/controllers/repository/repository.routes.ts
  services/server/src/server/controllers/verification/verification.common.ts
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/types.ts
Due: run-build-server

Use rimraf 3.0.2
  package-lock.json
  services/server/package.json
Due: run-build-server

Use nock v14 beta for native fetch support
  package-lock.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server

Replace deprecated fs.rmdir calls
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
Due: run-build-server

Return after sending a 404 error from server
  services/server/src/server/controllers/repository/repository.handlers.ts
Due: run-build-server

Use rimraf v4 in server and remove @types/rimraf
  package-lock.json
  services/server/package.json
Due: run-build-server

Replace deprecated ajv format
  services/server/src/server/server.ts
Due: run-build-server

Remove unused launch.json configuration
  .vscode/launch.json
Due: none

Refactor redundant DBService code to AbstractDBService
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/AllianceDatabaseService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
Due: run-build-server

Update README
  services/server/README.md
Due: run-build-server

Update Node version in Dockerfiles
  services/monitor/Dockerfile
  services/server/Dockerfile
  services/server/Dockerfile.debug
  ui/Dockerfile
Due: run-build-monitor, run-build-server, run-build-ui

Update Node version in CircleCI
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/new_branch.yml
  .circleci/nightly.yml
  .circleci/test-chains-regularly.yml
Due: none

circleci: don't source BASH_ENV in test-new-chain
  .circleci/new_branch.yml
Due: none

fix after PR review
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/storageServices/AllianceDatabaseService.ts
Due: run-build-server

Implement customizable storage service (#1441)
  services/server/src/config/default.js
  services/server/src/config/local-test.js
  services/server/src/server/controllers/controllers.common.ts
  services/server/src/server/controllers/repository/repository.handlers.ts
  services/server/src/server/controllers/repository/repository.routes.ts
  services/server/src/server/controllers/verification/etherscan/session/etherscan.session.handlers.ts
  services/server/src/server/controllers/verification/etherscan/stateless/etherscan.stateless.handlers.ts
  services/server/src/server/controllers/verification/session-state/session-state.handlers.ts
  services/server/src/server/controllers/verification/solc-json/stateless/solc-json.stateless.handlers.ts
  services/server/src/server/controllers/verification/verification.common.ts
  services/server/src/server/controllers/verification/verify/session/verify.session.handlers.ts
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
  services/server/src/server/server.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/services.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/AllianceDatabaseService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/storageServices/identifiers.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/services/utils/util.ts
  services/server/src/server/types.ts
  services/server/test/helpers/LocalChainFixture.ts
  services/server/test/helpers/ServerFixture.ts
  services/server/test/helpers/assertions.ts
  services/server/test/helpers/helpers.ts
  services/server/test/integration/database.spec.ts
  services/server/test/integration/path-sanitization.spec.ts
  services/server/test/integration/repository-handlers/files.spec.ts
  services/server/test/integration/verification-handlers/verify.session.spec.ts
  services/server/test/integration/verification-handlers/verify.stateless.spec.ts
  services/server/test/mocks/ipfs/QmNgYBpa6rUqCnfeYXC9eqURstnsTwPFrAPEM6GtvpFxVW
  services/server/test/testcontracts/Storage/StorageModified.sol
Due: run-build-server

wip
  .eslintignore
  .eslintrc.js
  eslint.config.mjs
  package.json
  packages/bytecode-utils/package.json
  packages/contract-call-decoder/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

Move prettier to root level
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/contract-call-decoder/package.json
  packages/lib-sourcify/package.json
  services/server/package.json
Due: run-build-server, run-build-packages

Rename CI jobs to node-v22
  .circleci/continue_config.yml
  .circleci/new_branch.yml
Due: none

Remove .nvmrc from Monitor
  services/monitor/.nvmrc
Due: run-build-monitor

Store metadata in database
  services/database/migrations/20240624124246-add-metadata.js
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/test/helpers/assertions.ts
Due: run-build-server

Apply prettier formatting to contract-call-decoder
  packages/contract-call-decoder/src/lib/ContractCallDecoder.spec.ts
  packages/contract-call-decoder/src/lib/ContractCallDecoder.ts
  packages/contract-call-decoder/src/lib/utils.ts
Due: run-build-packages

Enable TypeScript in Monitor tests (#1439)
  .vscode/launch.json
  services/monitor/.mocharc.json
  services/monitor/package.json
  services/monitor/test/.eslintrc.js
  services/monitor/test/Monitor.spec.ts
  services/monitor/test/hardhat-network-helper.ts
  services/monitor/test/helpers.ts
  services/monitor/test/testLogger.ts
Due: run-build-monitor

Add scripts to check and fix eslint and prettier in all packages
  package.json
  packages/bytecode-utils/package.json
  packages/contract-call-decoder/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
Due: run-build-monitor, run-build-server, run-build-packages

Run Prettier and Eslint also on test files
  packages/bytecode-utils/.prettierignore
  packages/bytecode-utils/package.json
  packages/bytecode-utils/test/bytecode.spec.ts
  packages/contract-call-decoder/.prettierignore
  packages/contract-call-decoder/package.json
  packages/lib-sourcify/package.json
  packages/lib-sourcify/test/compiler/solidityCompiler.ts
  packages/lib-sourcify/test/functions.spec.ts
  packages/lib-sourcify/test/hardhat-network-helper.ts
  packages/lib-sourcify/test/utils.ts
  packages/lib-sourcify/test/validation.spec.ts
  packages/lib-sourcify/test/verification.spec.ts
  services/monitor/package.json
  services/monitor/test/Monitor.spec.ts
  services/monitor/test/helpers.ts
  services/monitor/test/testLogger.ts
Due: run-build-monitor, run-build-packages

fix prettier
  services/server/src/server/services/utils/database-util.ts
  services/server/test/helpers/assertions.ts
Due: run-build-server

remove repositoryV2.getFile for metadata in sourcifydatabase
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
Due: run-build-server

Store metadata in database (#1449)
  services/database/migrations/20240624124246-add-metadata.js
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/test/helpers/assertions.ts
Due: run-build-server

add types
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

wip
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server
