Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*

Update test-new-chain in new_branch.yml
  .circleci/continue_config.yml
  .circleci/new_branch.yml
Due: none

Fix new_branch.yml indent
  .circleci/new_branch.yml
Due: none

Remove log lines, update -lock
  package-lock.json
  packages/lib-sourcify/src/lib/verification.ts
Due: run-build-packages

refactoring database tables name to snake_case
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/AllianceDatabaseService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/services/utils/repository-util.ts
Due: run-build-server

Change NEW_CHAIN_ID save in test_new_chain.sh
  .circleci/scripts/test_new_chain_support.sh
Due: none

Source BASH_ENV in test_new_chain
  .circleci/new_branch.yml
Due: none

cat in test_new_chain'
  .circleci/new_branch.yml
Due: none

echo the literal value of BASH_ENV in test_new_chain
  .circleci/scripts/test_new_chain_support.sh
Due: none

Remove rpc form sourcify-chains-default.json
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Revert "update -lock"
  package-lock.json
Due: none

set on cascade restrict
  services/database/migrations/20231109160022-create-schema.js
Due: none

synchronization process
  package-lock.json
  services/database/.env.template
  services/database/README.md
  services/database/migrations/20231109160022-create-schema.js
  services/database/package.json
  services/database/scripts.js
Due: none

make the sync process async using a maximum number of active "synching contracts"
  package-lock.json
  services/database/README.md
  services/database/package.json
  services/database/scripts.js
  services/database/scripts.mjs
Due: none

add parameters description and implement "until" option
  services/database/scripts.mjs
Due: none

Update services/database/README.md
  services/database/README.md
Due: none

handle not passing chains to sync command
  services/database/scripts.mjs
Due: none

Init browser compiler playground
  package-lock.json
  ui/craco.config.js
  ui/package.json
  ui/src/App.tsx
  ui/src/pages/BrowserVerifier/browserCompilerWorker.ts
  ui/src/pages/BrowserVerifier/index.tsx
  ui/src/pages/BrowserVerifier/solc.d.ts
  ui/src/pages/Verifier/index.tsx
  ui/src/types.ts
  ui/tsconfig.json
Due: run-build-ui

Sourcify database (#1222)
  package-lock.json
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/types.ts
  services/database/.env.template
  services/database/README.md
  services/database/database.json
  services/database/docker-compose.yml
  services/database/migrations/20231109160022-create-schema.js
  services/database/package.json
  services/database/scripts.mjs
  services/server/README.md
  services/server/src/config/default.js
  services/server/src/config/master.js
  services/server/src/config/staging.js
  services/server/src/server/controllers/repository/repository.handlers.ts
  services/server/src/server/controllers/repository/repository.routes.ts
  services/server/src/server/controllers/verification/verification.common.ts
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
  services/server/src/server/server.ts
  services/server/src/server/services/StorageService.ts
  services/server/src/server/services/services.ts
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/storageServices/AllianceDatabaseService.ts
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/src/server/services/utils/alliance-database-util.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/src/server/services/utils/repository-util.ts
  services/server/src/server/types.ts
  services/server/test/StorageService.test.js
  services/server/test/helpers/assertions.js
  services/server/test/server.js
Due: run-build-server, run-build-packages

use chain.request instead of agent in "should fetch missing sources" test
  services/server/test/server.js
Due: run-build-server

fix "should fetch missing sources" test
  services/server/test/server.js
Due: run-build-server

add lyra chain
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

initial commit for database tests
  services/server/test/database.test.js
  services/server/test/mocks/PostgresPoolMock.js
  services/server/test/repositoryV1.test.js
  services/server/test/repositoryV2.test.js
  services/server/test/testcontracts/Database/CheckedContract.json
  services/server/test/testcontracts/Database/Match.json
Due: run-build-server

Turn off failing Gather Testnet (356256156)
  services/server/src/sourcify-chains-default.json
Due: run-build-server

add lyra chain (#1250)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

Update FileUpload.tsx
  ui/src/pages/Verifier/FileUpload.tsx
Due: run-build-ui

Update index.tsx
  ui/src/pages/Verifier/index.tsx
Due: run-build-ui

Update Message.tsx
  ui/src/pages/Verifier/CheckedContractsView/CheckedContract/ChainAddressForm/Message.tsx
Due: run-build-ui

use postgres.* to check the activation of the SourcifyDatabaseService
  services/server/src/server/services/StorageService.ts
Due: run-build-server

fix storage services promises asynchronicity by using Promise.all in storeMatch
  services/server/src/server/services/StorageService.ts
Due: run-build-server

Update chains.json
  services/server/src/chains.json
Due: run-build-server

init database test + debugging * test if CI test docker is working
  .vscode/launch.json
  .vscode/tasks.json
  package-lock.json
  services/database/database.json
  services/server/package.json
  services/server/src/server/services/storageServices/RepositoryV1Service.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
  services/server/test/database.test.js
  services/server/test/docker-compose.yml
  services/server/test/mocks/PostgresPoolMock.js
  services/server/test/repositoryV1.test.js
  services/server/test/repositoryV2.test.js
  services/server/test/server.js
Due: run-build-server

Use latest packages in server conatiner instead of npm
  .dockerignore
  services/server/Dockerfile
Due: run-build-server

Add: Chain_ID: 7000 - ZetaChain Mainnet
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Deployed Test Contract, Tested Test Contract.
  package-lock.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

add config file for new environment "migration"
  services/server/src/config/migration.js
Due: run-build-server

enable docker containers inside CI with `setup_remote_docker` for new-branches
  .circleci/new_branch.yml
Due: none

exit with the status of the mocha test when running npm tun test in server
  services/server/package.json
Due: run-build-server

increase sleep time to wait postgres database to be ready
  services/server/package.json
Due: run-build-server

use 0.0.0.0 as connection for the test database
  services/database/database.json
Due: none
