Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

output rpc error message in the logs
  packages/lib-sourcify/src/lib/SourcifyChain.ts
Due: run-build-packages

Add fsevents to optionalDependencies
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  services/server/package.json
  ui/package.json
Due: run-build-server, run-build-packages, run-build-ui

Prevent storing contracts with "extra-file-input-bug" status
  services/server/src/server/controllers/verification/solc-json/stateless/solc-json.stateless.handlers.ts
  services/server/src/server/controllers/verification/verification.common.ts
  services/server/src/server/controllers/verification/verify/stateless/verify.stateless.handlers.ts
Due: run-build-server

added a log when it stores to database
  services/server/src/server/services/storageServices/AllianceDatabaseService.ts
Due: run-build-server

Update server's repository API docs: ordering and descriptions
  services/server/src/openapi.yaml
  services/server/src/server/controllers/repository/check-all-by-addresses.stateless.paths.yaml
  services/server/src/server/controllers/repository/check-by-addresses.stateless.paths.yaml
  services/server/src/server/controllers/repository/get-contract-addresses-all.stateless.paths.yaml
  services/server/src/server/controllers/repository/get-file-static.stateless.paths.yaml
  services/server/src/server/controllers/repository/get-file-tree-all.stateless.paths.yaml
  services/server/src/server/controllers/repository/get-source-files-all.stateless.paths.yaml
  services/server/src/server/controllers/repository/get-source-files-full.stateless.paths.yaml
Due: run-build-server

Turn off Goerli and Sepolia ethpandaops temporarily
  services/monitor/chains.json
Due: run-build-monitor

allow passing Etherscan API key as parameter in import from Etherscan API
  services/server/src/server/controllers/verification/etherscan/etherscan.common.ts
  services/server/src/server/controllers/verification/etherscan/session/etherscan.session.handlers.ts
  services/server/src/server/controllers/verification/etherscan/stateless/etherscan.stateless.handlers.ts
  services/server/src/server/controllers/verification/etherscan/stateless/etherscan.stateless.paths.yaml
  services/server/test/etherscan.js
  ui/src/pages/Verifier/EtherscanInput.tsx
Due: run-build-server, run-build-ui

enable repositoryV2 only if repositoryPath is passed
  services/server/src/server/services/StorageService.ts
Due: run-build-server

disable repositoryV2 on master
  services/server/src/config/master.js
Due: run-build-server

fix handling repositoryV2.path as undefined
  services/server/src/server/services/services.ts
  services/server/src/server/services/storageServices/RepositoryV2Service.ts
Due: run-build-server

Disable repositoryV2 by default for now, we will enable it once we start the synchronization script
  services/server/src/config/default.js
Due: run-build-server

Add CHANGELOGs
  CHANGELOG.md
  packages/bytecode-utils/CHANGELOG.md
  packages/contract-call-decoder/CHANGELOG.md
  packages/lib-sourcify/CHANGELOG.md
  services/database/CHANGELOG.md
  services/monitor/CHANGELOG.md
  services/server/CHANGELOG.md
  ui/CHANGELOG.md
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

chore(release): publish
  package-lock.json
  package.json
  packages/bytecode-utils/package.json
  packages/contract-call-decoder/package.json
  packages/lib-sourcify/package.json
  services/monitor/package.json
  services/server/package.json
  ui/package.json
Due: run-build-monitor, run-build-server, run-build-packages, run-build-ui

Update test-new-chain in new_branch.yml
  .circleci/continue_config.yml
  .circleci/new_branch.yml
Due: none

Update chains.json
  services/server/src/chains.json
Due: run-build-server

Fix new_branch.yml indent
  .circleci/new_branch.yml
Due: none

Add chain 10242 (Arthera Mainnet)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

Remove log lines, update -lock
  package-lock.json
  packages/lib-sourcify/src/lib/verification.ts
Due: run-build-packages

Remove rpc form sourcify-chains-default.json
  services/server/src/sourcify-chains-default.json
Due: run-build-server

echo the literal value of BASH_ENV in test_new_chain
  .circleci/scripts/test_new_chain_support.sh
Due: none

trigger staging CI
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
Due: run-build-server

allow sourcify database to store matches even without creationBytecode
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
Due: run-build-server

Revert "update chains.json"
  services/monitor/chains.json
Due: run-build-monitor

Use latest packages in server conatiner instead of npm
  .dockerignore
  services/server/Dockerfile
Due: run-build-server

fix repository path in server migration settings
  services/server/src/config/migration.js
Due: run-build-server

fix generateCborAuxdataPositions when auxdata is not at the end of the creationBytecode
  packages/lib-sourcify/src/lib/CheckedContract.ts
Due: run-build-packages

fix auxdata extraction for creation bytecode
  packages/lib-sourcify/src/lib/CheckedContract.ts
Due: run-build-packages

update dataschema schema for final compatibility with alliance database
  services/database/migrations/20231109160022-create-alliance-schema.js
  services/database/migrations/20231109160022-create-schema.js
  services/database/migrations/20231109160023-sourcify.js
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
  services/server/test/server.js
Due: run-build-server

use bigserial instead of random id for sourcify_sync, then use id to move into the list of to-be-synced contracts
  services/database/migrations/20231109160022-create-alliance-schema.js
  services/database/migrations/20231109160023-sourcify.js
  services/database/scripts.mjs
Due: none

Add Mode Testnet and Mode Mainnet (#1264)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

add Polygon ZkEVM (#1253)
  services/server/.env.dev
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
  services/server/test/helpers/etherscanInstanceContracts.json
Due: run-build-server

fix logs for import scripts
  services/database/scripts.mjs
Due: none

Change NEW_CHAIN_ID save in test_new_chain.sh
  .circleci/scripts/test_new_chain_support.sh
Due: none

fix docker image generation
  package-lock.json
Due: none

add config file for new environment "migration"
  services/server/src/config/migration.js
Due: run-build-server

Source BASH_ENV in test_new_chain
  .circleci/new_branch.yml
Due: none

update chains.json
  services/monitor/chains.json
Due: run-build-monitor

use postgres.* to check the activation of the SourcifyDatabaseService
  services/server/src/server/services/StorageService.ts
Due: run-build-server

Add ZKFair Mainnet (#1262)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

Accept add-chains besides add-chain as branch name in new chain tests
  .circleci/scripts/test_new_chain_support.sh
Due: none

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*
