Repository ethereum/sourcify: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-monitor, run-build-server, run-build-repository, run-build-packages, run-build-ui

Path conditions:
  run-build-monitor: any of: services/monitor/.*
  run-build-server: any of: services/server/.*
  run-build-repository: any of: h5ai-nginx
  run-build-packages: any of: packages/.*
  run-build-ui: any of: ui/.*

Remove Polygon mumbai Etherscan, add Amoy etherscan
  services/server/src/sourcify-chains-default.json
  services/server/test/helpers/etherscanInstanceContracts.json
Due: run-build-server

Implement postgresql based session (#1335)
  package-lock.json
  services/database/migrations/20231109160023-sourcify.js
  services/server/package.json
  services/server/src/config/default.js
  services/server/src/config/local-test.js
  services/server/src/config/master.js
  services/server/src/config/staging.js
  services/server/src/server/server.ts
  services/server/src/server/session.ts
  services/server/test/server.js
Due: run-build-server

add-chain-267
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

restore original metadata libraries format and fix the metadata to compiler settings libraries converion
  packages/lib-sourcify/src/lib/CheckedContract.ts
  packages/lib-sourcify/src/lib/types.ts
  services/server/test/helpers/verifierAlliance.js
Due: run-build-server, run-build-packages

Run nightly `s3-backup-check` job only on master
  .circleci/nightly.yml
Due: none

improve comment for bytecodeIncludesAuxdataDiffAt
  packages/lib-sourcify/src/lib/CheckedContract.ts
Due: run-build-packages

Update chains.json
  services/server/src/chains.json
Due: run-build-server

use new repositoryV1 as source of truth
  services/server/src/config/staging.js
Due: run-build-server

rollback to previous library metadata->settings conversion (bugged, to be fixed in another PR)
  packages/lib-sourcify/src/lib/CheckedContract.ts
Due: run-build-packages

skip failing test for libraries
  packages/lib-sourcify/src/lib/CheckedContract.ts
  services/server/test/server.js
Due: run-build-server, run-build-packages

make packages private
  serverless/compiler-lambda/package.json
  services/database/package.json
  services/monitor/package.json
Due: run-build-monitor

Don't run npm-publish job if not a package
  .circleci/config.yml
Due: none

Add release script
  scripts/release.sh
Due: none

Add tangle mainnet (#1351)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

Revert package-lock.json before changing it with #1339
  package-lock.json
Due: none

Add chain 1291
  package-lock.json
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

Add logging for fetching bytecode
  packages/lib-sourcify/src/lib/SourcifyChain.ts
Due: run-build-packages

Move `servers` dropdown list into own file
  services/server/src/openapi.yaml
  services/server/src/servers.yaml
Due: run-build-server

Don't ignore server config local.js in nx (and lerna)
  services/server/.nxignore
Due: run-build-server

fix database update process
  services/server/src/server/services/storageServices/AbstractDatabaseService.ts
  services/server/src/server/services/utils/database-util.ts
Due: run-build-server

Fix lib-sourcify tests debugging
  .vscode/launch.json
Due: none

change database log for new matches that are not better than the existing ones
  services/server/src/server/services/storageServices/SourcifyDatabaseService.ts
Due: run-build-server

Fix failing lib-sourcify test
  packages/lib-sourcify/test/sources/StorageModified/metadata.json
Due: run-build-packages

Neat error message on Lambda errors
  services/server/src/server/services/compiler/lambda/SolcLambda.ts
Due: run-build-server

Add DEGEN chain (#1352)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

Update Blockscout URL of ZetaChain
  services/server/src/sourcify-chains-default.json
Due: run-build-server

Change error logs to warn
  services/server/src/server/controllers/verification/etherscan/etherscan.common.ts
  services/server/src/server/controllers/verification/session-state/session-state.handlers.ts
Due: run-build-server

add-chain-80002 (#1338)
  services/server/src/sourcify-chains-default.json
  services/server/test/chains/chain-tests.js
Due: run-build-server

fixes #1350 update getCreatorTx with regex test
  services/server/test/server.js
Due: run-build-server

Fix server README to make local running clear
  services/server/README.md
Due: run-build-server

Remove "formatOnSave" from project VSCode settings
  .vscode/settings.json
Due: none

Stream lambda function compiler responses (#1340)
  serverless/compiler-lambda/index.js
  services/server/src/config/master.js
  services/server/src/config/staging.js
  services/server/src/server/controllers/verification/verification.common.ts
  services/server/src/server/services/compiler/lambda-with-fallback/SolcLambdaWithLocalFallback.ts
  services/server/src/server/services/compiler/lambda/SolcLambda.ts
Due: run-build-server

Show chain.title before chain.name
  ui/src/components/ChainSelect/index.tsx
Due: run-build-ui

Throw when a partial match already exists
  services/server/src/server/services/StorageService.ts
  services/server/test/server.js
Due: run-build-server
